{"openapi":"3.0.1","info":{"title":"Agora Market API","description":"RESTful API documentation for Agora Market - A comprehensive e-commerce platform","contact":{"name":"Purr Tech LLC","email":"admin@PURRTECHLLC.COM"},"version":"1.0"},"servers":[{"url":"https://agoramarketapi.purrtechllc.com/api","description":"Production API Server"}],"tags":[{"name":"wallet-connect","description":"Web3 钱包登录 API（支持 WalletConnect 和 Tron）"},{"name":"cold-wallet","description":"冷錢包管理 API"},{"name":"member-orders","description":"會員訂單管理 API"},{"name":"member-notifications","description":"會員通知管理 API"},{"name":"test","description":"測試數據 API"},{"name":"stores","description":"商店管理 API"},{"name":"admin-delivery","description":"管理員配送管理 API"},{"name":"flutter-deployment","description":"Flutter App 部署 API"},{"name":"admin-members","description":"管理員會員管理 API"},{"name":"admin-products","description":"管理員商品管理 API"},{"name":"telegram-mini-app-login","description":"Telegram Mini App 登录 API（0 步骤无感登录）"},{"name":"sse","description":"服務器發送事件 API"},{"name":"管理員貼文管理","description":"管理員管理貼文的API接口"},{"name":"webrtc","description":"WebRTC 信令 API"},{"name":"chat","description":"聊天管理 API"},{"name":"物流服務","description":"物流計算、郵遞區號查詢等相關 API"},{"name":"admin-orders","description":"管理員訂單管理 API"},{"name":"staking","description":"質押管理 API"},{"name":"購物車管理","description":"購物車相關操作"},{"name":"reviews","description":"評價管理 API"},{"name":"auto-reply","description":"自動回復管理 API"},{"name":"pickup-stores","description":"取貨商店門市管理 API"},{"name":"admin-notifications","description":"管理員通知管理 API"},{"name":"member-disputes","description":"會員糾紛管理 API"},{"name":"auth","description":"用戶認證 API"},{"name":"admin-stores","description":"管理員商店管理 API"},{"name":"郵遞區號","description":"提供台灣地區郵遞區號查詢的接口"},{"name":"telegram-bot-login","description":"Telegram Bot 登录 API"},{"name":"user-addresses","description":"用戶地址管理 API"},{"name":"seven-eleven-stores","description":"7-11 門市查詢 API"},{"name":"delivery","description":"配送管理 API"},{"name":"file-management","description":"文件管理 API"},{"name":"products","description":"商品管理 API"},{"name":"admin-staking","description":"管理員質押管理 API"},{"name":"oauth2-standard","description":"OAuth2 标准流程 API"},{"name":"sse-test","description":"SSE推播測試 API"},{"name":"promo-codes","description":"推廣碼管理 API"},{"name":"貼文管理","description":"貼文相關的API接口"},{"name":"webpush","description":"Web Push 推送 API"},{"name":"login-methods","description":"登录方式 API"},{"name":"client-logs","description":"客戶端日誌管理 API"},{"name":"admin-disputes","description":"管理員糾紛管理 API"}],"paths":{"/promo-codes/my-promo-code":{"get":{"tags":["promo-codes"],"summary":"獲取我的推廣碼","operationId":"getMyPromoCode","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PromoCode"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["promo-codes"],"summary":"編輯我的推廣碼","operationId":"updateMyPromoCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePromoCodeParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PromoCode"}}}}},"security":[{"bearerAuth":[]}]}},"/notifications/{notificationId}":{"get":{"tags":["member-notifications"],"summary":"獲取通知詳情","description":"根據通知ID獲取通知詳情","operationId":"getNotification","parameters":[{"name":"notificationId","in":"path","description":"通知ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationResponseDTO"}}}}}},"put":{"tags":["member-notifications"],"summary":"更新通知","description":"更新通知信息（僅管理員可用）","operationId":"updateNotification","parameters":[{"name":"notificationId","in":"path","description":"通知ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationResponseDTO"}}}}}},"delete":{"tags":["member-notifications"],"summary":"刪除通知","description":"刪除通知（僅管理員可用）","operationId":"deleteNotification","parameters":[{"name":"notificationId","in":"path","description":"通知ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/chat/sessions/{sessionId}/read":{"put":{"tags":["chat"],"summary":"標記會話為已讀","description":"基於會話ID和消息ID將會話標記為已讀","operationId":"markSessionRead","parameters":[{"name":"sessionId","in":"path","description":"會話ID","required":true,"schema":{"type":"string"}},{"name":"messageId","in":"query","description":"消息ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/chat/sessions/{sessionId}/pin":{"put":{"tags":["chat"],"summary":"置頂/取消置頂會話","description":"切換會話的置頂狀態","operationId":"toggleSessionPin","parameters":[{"name":"sessionId","in":"path","description":"會話ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChatSession"}}}}}}},"/chat/messages/{messageId}":{"put":{"tags":["chat"],"summary":"編輯消息","description":"編輯指定的聊天消息","operationId":"updateMessage","parameters":[{"name":"messageId","in":"path","description":"消息ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChatMessage"}}}}}},"delete":{"tags":["chat"],"summary":"刪除消息","description":"物理刪除指定的聊天消息，雙方都可以互相刪除對方的消息","operationId":"deleteMessage","parameters":[{"name":"messageId","in":"path","description":"消息ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/posts":{"put":{"tags":["貼文管理"],"summary":"更新貼文","description":"用戶更新自己的貼文","operationId":"updatePost","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePostResponse"}}}}}},"post":{"tags":["貼文管理"],"summary":"創建貼文","description":"用戶創建新貼文","operationId":"createPost","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCreateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePostResponse"}}}}}}},"/api/cart/{cartItemId}":{"put":{"tags":["購物車管理"],"summary":"更新購物車項目","description":"更新購物車中商品的數量","operationId":"updateCartItem","parameters":[{"name":"cartItemId","in":"path","description":"購物車項目ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartItemUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartItemResponse"}}}}}},"delete":{"tags":["購物車管理"],"summary":"從購物車移除商品","description":"從購物車中移除指定商品","operationId":"removeFromCart","parameters":[{"name":"cartItemId","in":"path","description":"購物車項目ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/cart/admin/{cartItemId}":{"put":{"tags":["購物車管理"],"summary":"管理員更新購物車項目","description":"管理員更新指定用戶購物車中商品的數量","operationId":"adminUpdateCartItem","parameters":[{"name":"userId","in":"query","description":"用戶ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"cartItemId","in":"path","description":"購物車項目ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartItemUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartItemResponse"}}}}}},"delete":{"tags":["購物車管理"],"summary":"管理員從購物車移除商品","description":"管理員從指定用戶購物車中移除商品","operationId":"adminRemoveFromCart","parameters":[{"name":"userId","in":"query","description":"用戶ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"cartItemId","in":"path","description":"購物車項目ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/admin/staking/config":{"get":{"tags":["admin-staking"],"summary":"獲取質押配置","description":"獲取當前有效的質押配置信息","operationId":"getConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StakingConfigDTO"}}}}}},"put":{"tags":["admin-staking"],"summary":"更新質押配置","description":"更新質押利率和最低質押金額配置","operationId":"updateStakingConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StakingConfigUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StakingConfigDTO"}}}}}}},"/admin/notifications/{notificationId}":{"get":{"tags":["admin-notifications"],"summary":"獲取通知詳情","description":"管理員可查看任何通知的詳情","operationId":"getNotification_1","parameters":[{"name":"notificationId","in":"path","description":"通知ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationResponseDTO"}}}}}},"put":{"tags":["admin-notifications"],"summary":"更新通知","description":"管理員可更新通知信息","operationId":"updateNotification_1","parameters":[{"name":"notificationId","in":"path","description":"通知ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationResponseDTO"}}}}}},"delete":{"tags":["admin-notifications"],"summary":"刪除通知","description":"管理員可刪除通知","operationId":"deleteNotification_1","parameters":[{"name":"notificationId","in":"path","description":"通知ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/admin/auto-reply/configs/{id}":{"put":{"tags":["auto-reply"],"summary":"更新配置","description":"更新指定的自動回復配置","operationId":"updateReplyConfig","parameters":[{"name":"id","in":"path","description":"配置ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoReplyConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AutoReplyConfig"}}}}}},"delete":{"tags":["auto-reply"],"summary":"刪除配置","description":"刪除指定的自動回復配置","operationId":"deleteConfig","parameters":[{"name":"id","in":"path","description":"配置ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AutoReplyDeleteResponse"}}}}}}},"/admin/auto-reply/configs/{id}/toggle":{"put":{"tags":["auto-reply"],"summary":"啟用/禁用配置","description":"切換配置的啟用狀態","operationId":"toggleConfig","parameters":[{"name":"id","in":"path","description":"配置ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"enabled","in":"query","description":"是否啟用","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AutoReplyConfig"}}}}}}},"/withdraws":{"post":{"tags":["提款管理"],"summary":"發起提款","operationId":"createWithdraw","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWithdrawParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Withdraw"}}}}}}},"/withdraws/{withdrawId}/fail":{"post":{"tags":["提款管理"],"summary":"提款失敗","operationId":"failWithdraw","parameters":[{"name":"withdrawId","in":"path","required":true,"schema":{"type":"string"}},{"name":"remark","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Withdraw"}}}}}}},"/withdraws/{withdrawId}/complete":{"post":{"tags":["提款管理"],"summary":"完成提款","operationId":"completeWithdraw","parameters":[{"name":"withdrawId","in":"path","required":true,"schema":{"type":"string"}},{"name":"txHash","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Withdraw"}}}}}}},"/withdraws/search":{"post":{"tags":["提款管理"],"summary":"管理員搜尋提款記錄","operationId":"searchWithdraws","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageWithdraw"}}}}}}},"/webrtc/offer":{"post":{"tags":["webrtc"],"summary":"發送 WebRTC Offer","description":"發送 WebRTC Offer 信令給指定用戶","operationId":"sendOffer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebRTCOfferDto"}}},"required":true},"responses":{"403":{"description":"無權限發送信令","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebRTCResponseDto"}}}},"200":{"description":"Offer 發送成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebRTCOfferResponseDto"}}}},"401":{"description":"未授權","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebRTCResponseDto"}}}},"400":{"description":"請求參數錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebRTCResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/webrtc/ice-candidate":{"post":{"tags":["webrtc"],"summary":"發送 WebRTC ICE Candidate","description":"發送 WebRTC ICE Candidate 信令給指定用戶","operationId":"sendIceCandidate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebRTCIceCandidateDto"}}},"required":true},"responses":{"401":{"description":"未授權","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebRTCResponseDto"}}}},"200":{"description":"ICE Candidate 發送成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebRTCIceCandidateResponseDto"}}}},"400":{"description":"請求參數錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebRTCResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/webrtc/hangup":{"post":{"tags":["webrtc"],"summary":"掛斷 WebRTC 通話","description":"掛斷通話並通過 SSE 通知對方","operationId":"hangupCall","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebRTCHangupDto"}}},"required":true},"responses":{"401":{"description":"未授權","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebRTCResponseDto"}}}},"200":{"description":"通話掛斷成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebRTCHangupResponseDto"}}}},"400":{"description":"請求參數錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebRTCResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/webrtc/answer":{"post":{"tags":["webrtc"],"summary":"發送 WebRTC Answer","description":"發送 WebRTC Answer 信令給指定用戶","operationId":"sendAnswer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebRTCAnswerDto"}}},"required":true},"responses":{"200":{"description":"Answer 發送成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebRTCAnswerResponseDto"}}}},"401":{"description":"未授權","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebRTCResponseDto"}}}},"400":{"description":"請求參數錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WebRTCResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/webpush/unsubscribe":{"post":{"tags":["webpush"],"summary":"取消推送訂閱","description":"取消用戶的推送訂閱","operationId":"unsubscribe","parameters":[{"name":"endpoint","in":"query","description":"推送端點URL","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"服務器錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushUnsubscriptionResponseDTO"}}}},"200":{"description":"成功取消推送訂閱","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushUnsubscriptionResponseDTO"}}}},"400":{"description":"請求參數錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushUnsubscriptionResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/webpush/test":{"post":{"tags":["webpush"],"summary":"發送測試通知","description":"向當前用戶發送測試推送通知","operationId":"sendTestNotification","responses":{"200":{"description":"測試通知發送成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushTestResponseDTO"}}}},"500":{"description":"服務器錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushTestResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/webpush/subscribe":{"post":{"tags":["webpush"],"summary":"註冊推送訂閱","description":"註冊用戶的推送訂閱信息","operationId":"subscribe","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushSubscriptionDTO"}}},"required":true},"responses":{"200":{"description":"成功註冊推送訂閱","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSubscriptionResponseDTO"}}}},"500":{"description":"服務器錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSubscriptionResponseDTO"}}}},"400":{"description":"請求參數錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSubscriptionResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/webpush/send":{"post":{"tags":["webpush"],"summary":"發送自定義通知","description":"向當前用戶發送自定義推送通知","operationId":"sendNotification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationDTO"}}},"required":true},"responses":{"200":{"description":"通知發送成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushNotificationResponseDTO"}}}},"500":{"description":"服務器錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushNotificationResponseDTO"}}}},"400":{"description":"請求參數錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushNotificationResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/webpush/scheduled/trigger":{"post":{"tags":["webpush"],"summary":"手動觸發定時推送","description":"手動觸發一次定時推送通知","operationId":"triggerScheduledPush","responses":{"500":{"description":"服務器錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScheduledPushResponseDTO"}}}},"200":{"description":"定時推送觸發成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScheduledPushResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/user-addresses/{addressId}/set-default":{"post":{"tags":["user-addresses"],"summary":"設置預設地址","operationId":"setDefaultAddress","parameters":[{"name":"addressId","in":"path","description":"地址ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserAddress"}}}}}}},"/user-addresses/update":{"post":{"tags":["user-addresses"],"summary":"更新地址","operationId":"updateAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAddress"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserAddress"}}}}}}},"/user-addresses/create":{"post":{"tags":["user-addresses"],"summary":"創建地址","operationId":"createAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAddress"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserAddress"}}}}}}},"/transactions/list":{"post":{"tags":["帳變管理"],"summary":"查詢帳變歷史","operationId":"getTransactionList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionListParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageTransaction"}}}}}}},"/transactions/admin/search":{"post":{"tags":["帳變管理"],"summary":"管理員查看帳變記錄","operationId":"getTransactionListByAdmin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageTransaction"}}}}}}},"/test/review":{"post":{"tags":["test"],"operationId":"generateReviewData","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/test/return-process":{"post":{"tags":["test"],"summary":"生成退貨流程測試數據","description":"生成各種退貨情況的測試數據，包括不同退貨原因、賣家處理、物流流程等","operationId":"generateReturnProcessTestData","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/test/recharge\u0026withdraw":{"post":{"tags":["test"],"operationId":"generateRechargeAndWithdraw","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/test/platform":{"post":{"tags":["test"],"operationId":"generatePlatformDeliveryOrder","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/test/notification":{"post":{"tags":["test"],"summary":"生成通知測試數據","description":"生成各種類型的通知測試數據，包括系統通知、訂單通知、配送通知等","operationId":"generateNotificationTestData","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/test/logistics":{"post":{"tags":["test"],"operationId":"generateLogisticsOrder","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/test/generate-test-data":{"post":{"tags":["test"],"summary":"生成測試數據","operationId":"generateTestData","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/test/delivery-accept-order":{"post":{"tags":["test"],"summary":"生成配送員接單測試數據","description":"生成配送員接單相關的測試數據，包括待接單訂單、多個配送員等","operationId":"generateDeliveryAcceptOrderTestData","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/test/auto-reply":{"post":{"tags":["test"],"summary":"生成自動回復測試數據","description":"生成測試用戶與自動回復機器人的對話記錄和反饋數據","operationId":"generateAutoReplyTestData","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/stores/update":{"post":{"tags":["stores"],"summary":"更新商店","operationId":"updateStore","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponseDTO"}}}}}}},"/stores/shipping-config":{"get":{"tags":["stores"],"summary":"獲取商店物流設定","operationId":"getShippingConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreShippingConfigParam"}}}}}},"post":{"tags":["stores"],"summary":"更新商店物流設定","operationId":"updateShippingConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreShippingConfigParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponseDTO"}}}}}}},"/stores/products/search":{"post":{"tags":["stores"],"summary":"搜索我的商店商品","operationId":"searchMyStoreProducts","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreProductSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProduct"}}}}}}},"/stores/create":{"post":{"tags":["stores"],"summary":"創建商店","operationId":"createStore","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreCreateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponseDTO"}}}}}}},"/staking/unfreeze":{"post":{"tags":["staking"],"summary":"申請解除質押","description":"用戶申請解除指定質押記錄。解除質押不發放收益，只退回本金。","operationId":"unfreezeStaking","parameters":[{"name":"stakingId","in":"query","description":"質押ID（業務ID）","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Staking"}}}}}}},"/staking/search":{"post":{"tags":["staking"],"summary":"管理員搜尋質押記錄","operationId":"searchStakings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StakingSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageStaking"}}}}}}},"/staking/apply":{"post":{"tags":["staking"],"summary":"申請質押（活期）","description":"用戶申請活期質押指定金額的資產，每天自動結算發放收益，可隨時解除質押。一次只能發起一筆質押。","operationId":"applyStaking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplyStakingParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Staking"}}}}}}},"/sse/send/user/{userId}":{"post":{"tags":["sse"],"summary":"向特定用戶發送消息","description":"向指定的用戶發送一條消息","operationId":"sendMessageToUser","parameters":[{"name":"userId","in":"path","description":"目標用戶ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","description":"消息內容"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/sse/force-disconnect-all":{"post":{"tags":["sse"],"summary":"強制斷開所有連接","description":"緊急情況下強制斷開所有 SSE 連接（僅管理員可用）","operationId":"forceDisconnectAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"security":[{"bearerAuth":[]}]}},"/sse/broadcast":{"post":{"tags":["sse"],"summary":"廣播消息","description":"向所有連接的客戶端廣播一條消息（僅管理員可用）","operationId":"broadcastMessage","requestBody":{"content":{"application/json":{"schema":{"type":"object","description":"廣播消息內容"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/sse-test/typing-event":{"post":{"tags":["sse-test"],"summary":"測試輸入事件","description":"發送測試的用戶輸入事件","operationId":"testTypingEvent","parameters":[{"name":"receiverId","in":"query","description":"接收者ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"eventType","in":"query","description":"事件類型","required":false,"schema":{"type":"string","default":"USER_TYPING_START"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/sse-test/system-event":{"post":{"tags":["sse-test"],"summary":"測試系統事件","description":"發送測試的系統事件","operationId":"testSystemEvent","parameters":[{"name":"eventType","in":"query","description":"事件類型","required":false,"schema":{"type":"string","default":"SYSTEM_MAINTENANCE_START"}},{"name":"message","in":"query","description":"消息內容","required":false,"schema":{"type":"string","default":"系統維護開始"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/sse-test/order-event":{"post":{"tags":["sse-test"],"summary":"測試訂單事件","description":"發送測試的訂單事件","operationId":"testOrderEvent","parameters":[{"name":"eventType","in":"query","description":"事件類型","required":false,"schema":{"type":"string","default":"ORDER_CREATED"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/sse-test/balance-change":{"post":{"tags":["sse-test"],"summary":"測試餘額變動事件","description":"發送測試的餘額變動事件","operationId":"testBalanceChange","parameters":[{"name":"amount","in":"query","description":"變動金額","required":false,"schema":{"type":"string","default":"100"}},{"name":"currency","in":"query","description":"貨幣","required":false,"schema":{"type":"string","default":"USDT"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/sse-test/auth-event":{"post":{"tags":["sse-test"],"summary":"測試認證事件","description":"發送測試的認證事件","operationId":"testAuthEvent","parameters":[{"name":"eventType","in":"query","description":"事件類型","required":false,"schema":{"type":"string","default":"USER_LOGIN"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/reviews/update":{"post":{"tags":["reviews"],"summary":"更新評價","operationId":"updateReview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Review"}}}}}}},"/reviews/search":{"post":{"tags":["reviews"],"summary":"搜索評價","operationId":"searchReviews","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageReview"}}}}}}},"/reviews/reply":{"post":{"tags":["reviews"],"summary":"回覆評價","operationId":"replyToReview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewReplyParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Review"}}}}}}},"/reviews/create":{"post":{"tags":["reviews"],"summary":"創建評價","operationId":"createReview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewCreateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Review"}}}}}}},"/reviews/batch-reply":{"post":{"tags":["reviews"],"summary":"批量回覆評價","operationId":"batchReplyReviews","parameters":[{"name":"reviewIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"replyContent","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/recharge":{"post":{"tags":["充值管理"],"summary":"創建充值","operationId":"createRecharge","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRechargeParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RechargeResponse"}}}}}}},"/recharge/{rechargeId}/complete":{"post":{"tags":["充值管理"],"summary":"完成充值","operationId":"completeRecharge","parameters":[{"name":"rechargeId","in":"path","required":true,"schema":{"type":"string"}},{"name":"txHash","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Recharge"}}}}}}},"/recharge/{rechargeId}/cancel":{"post":{"tags":["充值管理"],"summary":"取消充值","operationId":"cancelRecharge","parameters":[{"name":"rechargeId","in":"path","required":true,"schema":{"type":"string"}},{"name":"remark","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Recharge"}}}}}}},"/recharge/search":{"post":{"tags":["充值管理"],"summary":"管理員搜尋充值記錄","operationId":"searchRecharges","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RechargeSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageRecharge"}}}}}}},"/promo-codes/{code}/review":{"post":{"tags":["promo-codes"],"summary":"審核推廣碼","operationId":"reviewPromoCode","parameters":[{"name":"code","in":"path","description":"推廣碼","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewPromoCodeParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PromoCode"}}}}},"security":[{"bearerAuth":[]}]}},"/promo-codes/register/{promoCode}":{"post":{"tags":["promo-codes"],"summary":"使用推廣碼註冊","operationId":"registerWithPromoCode","parameters":[{"name":"promoCode","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResult"}}}}}}},"/promo-codes/batch-review":{"post":{"tags":["promo-codes"],"summary":"批量審核推廣碼","operationId":"batchReviewPromoCodes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchReviewPromoCodeParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchReviewResult"}}}}},"security":[{"bearerAuth":[]}]}},"/promo-codes/apply":{"post":{"tags":["promo-codes"],"summary":"申請推廣碼","operationId":"applyPromoCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePromoCodeParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PromoCode"}}}}},"security":[{"bearerAuth":[]}]}},"/products/{id}/stock/set":{"post":{"tags":["products"],"summary":"設置商品庫存","operationId":"setStock","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"stock","in":"query","description":"新庫存數量","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/products/{id}/stock/increase":{"post":{"tags":["products"],"summary":"增加商品庫存","operationId":"increaseStock","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"quantity","in":"query","description":"增加數量","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/products/{id}/stock/decrease":{"post":{"tags":["products"],"summary":"減少商品庫存","operationId":"decreaseStock","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"quantity","in":"query","description":"減少數量","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/products/update":{"post":{"tags":["products"],"summary":"更新商品","operationId":"updateProduct","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Product"}}}}}}},"/products/search":{"post":{"tags":["products"],"summary":"搜索商品","operationId":"searchProducts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductSeachParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProduct"}}}}}}},"/products/my-products":{"post":{"tags":["products"],"summary":"獲取賣家自己的商品列表","operationId":"getMyProducts","parameters":[{"name":"page","in":"query","description":"頁碼，從1開始","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","description":"每頁數量","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductSeachParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProduct"}}}}}}},"/products/create":{"post":{"tags":["products"],"summary":"創建商品","operationId":"createProduct","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductCreateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Product"}}}}}}},"/products/batch-create":{"post":{"tags":["products"],"summary":"批量創建商品","description":"賣家可以批量創建多個商品","operationId":"batchCreateProducts","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"商品創建參數列表","items":{"$ref":"#/components/schemas/ProductCreateParam"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Product"}}}}}}}},"/pickup-stores/sync/seven-eleven":{"post":{"tags":["pickup-stores"],"summary":"異步同步7-11取貨門市資料","description":"從 ibon.com.tw 爬取並同步所有7-11取貨門市資料到資料庫（需要管理員權限）。此操作為異步執行，會立即返回，不會阻塞請求。使用 /sync/seven-eleven/status 查詢執行狀態。","operationId":"syncSevenElevenStores","responses":{"202":{"description":"同步任務已啟動","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PickupStoreSyncResponse"}}}},"500":{"description":"啟動同步任務失敗","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PickupStoreSyncResponse"}}}},"409":{"description":"同步任務已在執行中","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PickupStoreSyncResponse"}}}}}}},"/pickup-stores/sync/seven-eleven/city":{"post":{"tags":["pickup-stores"],"summary":"同步指定縣市的7-11取貨門市資料","description":"從 ibon.com.tw 爬取並同步指定縣市的7-11取貨門市資料（需要管理員權限）","operationId":"syncSevenElevenStoresByCity","parameters":[{"name":"city","in":"query","description":"縣市名稱，例如：台北市","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/pickup-stores/search":{"post":{"tags":["pickup-stores"],"summary":"查詢取貨商店門市","description":"統一的取貨商店門市查詢接口，支持多種查詢條件和任意組合：1. 根據門市代號精確查詢（storeCode，與其他條件互斥）2. 根據商店類型查詢（storeType：SEVEN_ELEVEN、FAMILY_MART、HILIFE、OK_MART）3. 組合查詢支持（可任意組合以下條件）：   - 商店類型（storeType，建議必填）   - 縣市（city，可選）   - 區域（district，可選，需配合 city 使用）   - 關鍵字（keyword，可選，同時搜尋門市名稱或地址，支持地址模糊查詢）4. 組合查詢範例：   - storeType + city：查詢指定縣市的所有門市   - storeType + city + keyword：在指定縣市內搜尋包含關鍵字的門市   - storeType + city + district + keyword：在指定區域內搜尋包含關鍵字的門市5. 分頁支援（設置 page 和 size，查詢結果超過1000筆時自動啟用分頁）","operationId":"searchStores","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PickupStoreSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePickupStore"}}}}}}},"/pickup-stores/check-sync":{"post":{"tags":["pickup-stores"],"summary":"檢查取貨商店門市資料是否需要更新","description":"比較數據庫中的取貨商店門市資料與源網站的資料，返回差異信息。包括：新增門市數量、需要更新的門市數量、已關閉的門市數量等。city 參數為可選，如果指定則僅檢查該縣市，否則檢查所有縣市（僅統計總數）。","operationId":"checkSyncStatus","parameters":[{"name":"storeType","in":"query","description":"商店類型（目前僅支持 SEVEN_ELEVEN）","required":true,"schema":{"type":"string","description":"取貨服務類型","enum":["HOME_DELIVERY","SEVEN_ELEVEN","FAMILY_MART","HILIFE","OK_MART"]}},{"name":"city","in":"query","description":"縣市名稱（可選），例如：台北市。如果未指定，則檢查所有縣市","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PickupStoreSyncCheckResponse"}}}}}}},"/orders":{"post":{"tags":["member-orders"],"summary":"提交訂單","description":"創建新訂單","operationId":"submitOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderSumbitParam"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/orders/{orderId}/return":{"post":{"tags":["member-orders"],"summary":"申請退貨","description":"買家可以為已完成的訂單申請退貨","operationId":"requestReturn","parameters":[{"name":"orderId","in":"path","description":"訂單ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReturnRequestParam"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/orders/{orderId}/return/shipping":{"post":{"tags":["member-orders"],"summary":"更新退貨物流信息","description":"買家可以更新退貨商品的物流信息","operationId":"updateReturnShipping","parameters":[{"name":"orderId","in":"path","description":"訂單ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReturnShippingParam"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/orders/{orderId}/return/process":{"post":{"tags":["member-orders"],"summary":"賣家處理退貨申請","description":"賣家可以同意或拒絕退貨申請","operationId":"processReturn","parameters":[{"name":"orderId","in":"path","description":"訂單ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReturnProcessParam"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/orders/{orderId}/return/confirm-received":{"post":{"tags":["member-orders"],"summary":"確認收到退貨商品","description":"賣家確認收到買家寄回的退貨商品","operationId":"confirmReturnReceived","parameters":[{"name":"orderId","in":"path","description":"訂單ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/orders/ship/platform":{"post":{"tags":["member-orders"],"summary":"平台配送發貨","description":"賣家發貨，等待媒合配送員","operationId":"shipOrderPlatform","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderShipPlatformParam"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/orders/ship/logistics":{"post":{"tags":["member-orders"],"summary":"第三方物流發貨","description":"賣家發貨，已完成物流寄件","operationId":"shipOrderLogistics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderShipLogisticsParam"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/orders/seller/{orderId}":{"post":{"tags":["member-orders"],"summary":"獲取賣家訂單詳情","description":"根據訂單ID獲取賣家訂單詳情","operationId":"getOrderBySeller","parameters":[{"name":"orderId","in":"path","description":"訂單ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Order"}}}}}}},"/orders/seller/search":{"post":{"tags":["member-orders"],"summary":"賣家查詢訂單列表","operationId":"searchOrdersBySeller","parameters":[{"name":"page","in":"query","description":"頁碼，從1開始","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","description":"每頁數量","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserOrderSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageOrder"}}}}}}},"/orders/deliveryer/{orderId}":{"post":{"tags":["member-orders"],"summary":"獲取配送員訂單詳情","description":"根據訂單ID獲取配送員訂單詳情","operationId":"getOrderByDeliveryer","parameters":[{"name":"orderId","in":"path","description":"訂單ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Order"}}}}}}},"/orders/confirm":{"post":{"tags":["member-orders"],"summary":"確認收貨","description":"買家確認收貨，完成訂單。\n\n**使用場景說明：**\n\n1. **平台配送（PLATFORM_DELIVERY）**：\n   - 訂單狀態必須為 `DELIVERED`（已送達）\n   - 必須提供驗證碼（`verifyCode`），由配送員確認送達後系統發送給買家\n   - 驗證碼為6位數字\n   - 請求示例：`{\"orderId\": \"ORD001\", \"verifyCode\": \"123456\", \"remark\": \"已收到\"}`\n\n2. **第三方物流（非平台配送）**：\n   - 訂單狀態可以是 `SHIPPED`（已發貨）或 `DELIVERED`（已送達）\n   - 不需要提供驗證碼（`verifyCode` 可為空或null）\n   - 特別適用於缺少物流單號（trackingNumber）的情況，買家可手動確認收貨\n   - 請求示例：`{\"orderId\": \"ORD002\", \"verifyCode\": null, \"remark\": \"已收到\"}`\n\n**確認收貨後：**\n- 訂單狀態更新為 `COMPLETED`（已完成）\n- 款項自動轉入賣家帳戶\n- 系統發送完成通知給買家和賣家\n- 買家可以開始進行商品評價","operationId":"confirmOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderConfirmParam"}}},"required":true},"responses":{"200":{"description":"確認收貨成功，訂單已完成"},"500":{"description":"服務器內部錯誤"},"400":{"description":"業務錯誤或參數驗證失敗。可能的錯誤原因：\n- 訂單不存在\n- 訂單ID不能為空（參數驗證失敗）\n- 只能確認已發貨或已配送的訂單（訂單狀態不符合要求）\n- 只能確認已配送的訂單（平台配送時，訂單必須為DELIVERED狀態）\n- 請輸入驗證碼（平台配送時，必須提供驗證碼）\n- 驗證碼不正確（平台配送時，驗證碼錯誤）","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"未授權，需要登入"},"403":{"description":"無權限，只有訂單的買家可以確認收貨"}}}},"/orders/cancel":{"post":{"tags":["member-orders"],"summary":"取消訂單","description":"買家或賣家取消訂單","operationId":"cancelOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderCancelParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Order"}}}}}}},"/orders/buyer/search":{"post":{"tags":["member-orders"],"summary":"買家查詢訂單列表","operationId":"searchOrdersByBuyer","parameters":[{"name":"page","in":"query","description":"頁碼，從1開始","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","description":"每頁數量","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageOrder"}}}}}}},"/oci/notifications":{"get":{"tags":["oci-notification-controller"],"operationId":"healthCheck","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}},"post":{"tags":["oci-notification-controller"],"operationId":"handleNotification","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/notifications":{"post":{"tags":["member-notifications"],"summary":"創建通知","description":"創建新通知（僅管理員可用）","operationId":"createNotification","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationCreateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationResponseDTO"}}}}}}},"/notifications/{notificationId}/read":{"post":{"tags":["member-notifications"],"summary":"標記為已讀","description":"將通知標記為已讀","operationId":"markAsRead","parameters":[{"name":"notificationId","in":"path","description":"通知ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/notifications/search":{"post":{"tags":["member-notifications"],"summary":"搜索通知","description":"根據條件搜索通知列表","operationId":"searchNotifications","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageNotificationResponseDTO"}}}}}}},"/notifications/read-all":{"post":{"tags":["member-notifications"],"summary":"全部標記為已讀","description":"將所有未讀通知標記為已讀","operationId":"markAllAsRead","responses":{"200":{"description":"OK"}}}},"/notifications/cleanup":{"post":{"tags":["member-notifications"],"summary":"清理過期通知","description":"清理過期通知（僅管理員可用）","operationId":"cleanupExpiredNotifications","parameters":[{"name":"daysToKeep","in":"query","description":"保留天數","required":false,"schema":{"type":"integer","format":"int32","default":30},"example":30}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/notifications/batch":{"post":{"tags":["member-notifications"],"summary":"批量創建通知","description":"批量創建通知（僅管理員可用）","operationId":"createBatchNotifications","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"批量創建參數","items":{"$ref":"#/components/schemas/NotificationCreateParam"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NotificationResponseDTO"}}}}}}}},"/flutter/deployment/apps":{"post":{"tags":["flutter-deployment"],"summary":"獲取可下載的 APP","description":"獲取應用程式版本列表。可通過參數控制返回內容：1) 不提供參數：返回所有平台的版本列表；2) 提供 platform：返回指定平台的所有版本；3) 提供 platform 和 latest=true：返回指定平台的最新版本（單元素列表）。","operationId":"getApps","parameters":[{"name":"platform","in":"query","description":"平台名稱（可選）","required":false,"schema":{"type":"string"},"example":"windows"},{"name":"latest","in":"query","description":"是否只返回最新版本（可選，需要同時提供 platform）","required":false,"schema":{"type":"boolean","default":false},"example":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AppVersion"}}}}}}}},"/files/records/search":{"post":{"tags":["file-management"],"summary":"查詢檔案記錄","description":"根據條件查詢檔案上傳記錄，支援分頁和多條件篩選","operationId":"searchFileRecords","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileRecordSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageFileRecord"}}}}},"security":[{"bearerAuth":[]}]}},"/files/auto-clean":{"post":{"tags":["file-management"],"summary":"檔案清理","description":"清理 OCI Object Storage 中未被業務實體使用的文件。根據 objectName 格式（如 USER_2_xxx.png）檢查對應業務實體（用戶、產品、商店、貼文）是否仍在使用該文件，如果未使用則刪除。dryRun=true 時只檢查狀態不執行清理","operationId":"syncFileRecords","parameters":[{"name":"dryRun","in":"query","description":"是否為試運行模式（只檢查不執行）","required":false,"schema":{"type":"boolean","default":false},"example":false}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseFileSyncResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/disputes":{"post":{"tags":["member-disputes"],"summary":"創建糾紛","description":"買家可以對訂單創建糾紛","operationId":"createDispute","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisputeCreateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Dispute"}}}}}}},"/disputes/{disputeId}/reply":{"post":{"tags":["member-disputes"],"summary":"回覆糾紛","description":"賣家可以回覆買家的糾紛","operationId":"replyDispute","parameters":[{"name":"disputeId","in":"path","description":"糾紛ID","required":true,"schema":{"type":"string"}},{"name":"reply","in":"query","description":"回覆內容","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/disputes/search":{"post":{"tags":["member-disputes"],"summary":"搜索糾紛","description":"會員可搜索與自己相關的糾紛","operationId":"searchDisputes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisputeSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDispute"}}}}}}},"/delivery/update":{"post":{"tags":["delivery"],"summary":"更新配送員資料","description":"用戶更新自己的配送員資料","operationId":"updateDeliveryer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryerUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Deliveryer"}}}}}}},"/delivery/update/status":{"post":{"tags":["delivery"],"summary":"更新工作狀態","description":"更新配送員的工作狀態（啟用/停用）","operationId":"updateWorkingStatus","parameters":[{"name":"enabled","in":"query","description":"是否啟用","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Deliveryer"}}}}}}},"/delivery/update/order":{"post":{"tags":["delivery"],"summary":"更新配送進度","description":"配送員更新已接單的配送進度狀態（取貨中、運送中、已送達等）","operationId":"updateDeliveryOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDeliveryOrderParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Deliveryer"}}}}}}},"/delivery/register":{"post":{"tags":["delivery"],"summary":"註冊配送員","description":"用戶註冊成為配送員","operationId":"registerDeliveryer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryerRegistrationParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Deliveryer"}}}}}}},"/delivery/accept":{"post":{"tags":["delivery"],"summary":"配送員接單","description":"配送員接受配送任務","operationId":"acceptOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcceptOrderParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Deliveryer"}}}}}}},"/customer-issues":{"post":{"tags":["客戶問題管理"],"summary":"創建客戶問題","operationId":"createIssue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateIssueParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerIssue"}}}}}}},"/customer-issues/{issueId}/reply":{"post":{"tags":["客戶問題管理"],"summary":"回覆客戶問題","operationId":"replyIssue","parameters":[{"name":"issueId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplyIssueParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerIssue"}}}}}}},"/customer-issues/{issueId}/close":{"post":{"tags":["客戶問題管理"],"summary":"關閉客戶問題","operationId":"closeIssue","parameters":[{"name":"issueId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerIssue"}}}}}}},"/customer-issues/search":{"post":{"tags":["客戶問題管理"],"summary":"管理員搜尋客戶問題記錄","operationId":"searchIssues","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageCustomerIssue"}}}}}}},"/cold-wallet":{"get":{"tags":["cold-wallet"],"summary":"獲取冷錢包列表","description":"分頁獲取所有冷錢包","operationId":"getColdWallets","parameters":[{"name":"page","in":"query","description":"頁碼，從1開始","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"每頁數量","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageColdWallet"}}}}}},"post":{"tags":["cold-wallet"],"summary":"新增冷錢包","description":"創建新的冷錢包","operationId":"createColdWallet","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateColdWalletParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseColdWallet"}}}}}}},"/cold-wallet/{id}/release":{"post":{"tags":["cold-wallet"],"summary":"釋放冷錢包","description":"將使用中的冷錢包釋放為可用狀態","operationId":"releaseColdWallet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseColdWallet"}}}}}}},"/cold-wallet/{id}/freeze":{"post":{"tags":["cold-wallet"],"summary":"凍結冷錢包","description":"將冷錢包凍結，使其無法被使用","operationId":"freezeColdWallet","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseColdWallet"}}}}}}},"/client-logs":{"get":{"tags":["client-logs"],"summary":"查詢用戶日誌","description":"查詢當前用戶的日誌記錄，支援分頁","operationId":"getUserLogs","parameters":[{"name":"page","in":"query","description":"頁碼 (從0開始)","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":0},{"name":"size","in":"query","description":"每頁大小","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":20}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageClientLog"}}}}}},"post":{"tags":["client-logs"],"summary":"上傳客戶端日誌","description":"接收客戶端日誌數據，支援批次上傳","operationId":"receiveClientLogs","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"日誌數據列表","items":{"$ref":"#/components/schemas/ClientLogDto"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/chat/typing/stop":{"post":{"tags":["chat"],"summary":"停止輸入","description":"通知對方用戶停止輸入消息","operationId":"stopTyping","parameters":[{"name":"receiverId","in":"query","description":"接收者ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/chat/typing/start":{"post":{"tags":["chat"],"summary":"開始輸入","description":"通知對方用戶開始輸入消息","operationId":"startTyping","parameters":[{"name":"receiverId","in":"query","description":"接收者ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/chat/sessions/messages":{"post":{"tags":["chat"],"summary":"獲取會話消息列表","description":"通過 POST JSON 方式獲取指定會話的消息列表","operationId":"getSessionMessages","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageQueryParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChatSession"}}}}}}},"/chat/messages":{"post":{"tags":["chat"],"summary":"發送消息","description":"發送新的聊天消息","operationId":"sendMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageSendResponseDTO"}}}}}}},"/chat/messages/{messageId}/read":{"post":{"tags":["chat"],"summary":"標記消息已讀","description":"標記指定消息為已讀狀態","operationId":"markMessageRead","parameters":[{"name":"messageId","in":"path","description":"消息ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/auth/wallet-connect/nonce":{"post":{"tags":["wallet-connect"],"summary":"获取 Nonce（通用）","description":"根据钱包地址生成 nonce 和签名消息，用于前端签名。支持以太坊地址（0x开头）和 Tron 地址（T开头）","operationId":"getNonce","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Web3NonceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WalletConnectNonceResponse"}}}}}}},"/auth/wallet-connect/login":{"post":{"tags":["wallet-connect"],"summary":"Web3 钱包登录（通用）","description":"验证钱包签名，如果通过则返回 JWT Token。支持以太坊地址（0x开头）和 Tron 地址（T开头）","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Web3LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/auth/update-profile":{"post":{"tags":["auth"],"summary":"更新用戶資料","description":"更新用戶的姓名、電話和頭像。注意：郵箱更新已移除，請使用 /auth/bind-email 綁定郵箱或 /auth/email-verification/verify 驗證郵箱","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserInfo"}}}}},"security":[{"bearerAuth":[]}]}},"/auth/telegram-mini-app/login":{"post":{"tags":["telegram-mini-app-login"],"summary":"Telegram Mini App 登录","description":"使用 Telegram Web App 的 initData 完成 0 步骤无感登录","operationId":"login_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MiniAppLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoginResult"}}}}}}},"/auth/telegram-bot/verify-code":{"post":{"tags":["telegram-bot-login"],"summary":"验证验证码","description":"验证 Telegram Bot 返回的 4 位验证码并完成登录","operationId":"verifyCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoginResult"}}}}}}},"/auth/telegram-bot/generate-login-token":{"post":{"tags":["telegram-bot-login"],"summary":"生成登录 loginToken","description":"生成唯一且有時效性的 loginToken，用于构建 Telegram Bot deep link","operationId":"generateLoginToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateLoginTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoginTokenResponse"}}}}}}},"/auth/reset-password":{"post":{"tags":["auth"],"summary":"重設密碼","operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetParam"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/auth/reset-password-with-code":{"post":{"tags":["auth"],"summary":"使用驗證碼重置密碼","operationId":"resetPasswordWithCode","parameters":[{"name":"email","in":"query","description":"用戶郵箱","required":true,"schema":{"type":"string"}},{"name":"code","in":"query","description":"驗證碼","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/auth/register":{"post":{"tags":["auth"],"summary":"註冊新用戶","description":"註冊新用戶，成功後可能重定向到指定URL或返回登入結果","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterParam"}}},"required":true},"responses":{"200":{"description":"註冊成功，返回登入結果","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterResult"}}}}}}},"/auth/refresh-token":{"post":{"tags":["auth"],"summary":"刷新訪問令牌","operationId":"refreshToken","parameters":[{"name":"Authorization","in":"header","description":"刷新令牌，需要包含 \u0027Bearer \u0027 前綴","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResult"}}}}}}},"/auth/oauth2/token/by-token-id":{"post":{"tags":["oauth2-standard"],"summary":"OAuth2 Token 获取（后端方案）","description":"通过临时token ID获取 Token","operationId":"getTokenByTokenId","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2TokenIdRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOAuth2TokenResponse"}}}}}}},"/auth/oauth2/authorize/google":{"post":{"tags":["oauth2-standard"],"summary":"Google OAuth2 授权","description":"接收授权请求，返回 Google 授权 URL（JSON 格式）","operationId":"authorizeGoogle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2AuthorizeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOAuth2AuthorizeResponse"}}}}}}},"/auth/logout":{"post":{"tags":["auth"],"summary":"用戶登出","operationId":"logout","responses":{"200":{"description":"OK"}}}},"/auth/login":{"post":{"tags":["auth"],"summary":"用戶登入","description":"支持多種登入方式：\n1. 傳統登入：提供 username 和 password\n2. 郵箱驗證碼登入：提供 email 和 verificationCode（不需要 password）\n3. 2FA雙因素認證：如果用戶啟用了2FA，必須在twoFactorCode字段提供驗證碼","operationId":"login_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResult"}}}}}}},"/auth/forgot-password":{"post":{"tags":["auth"],"summary":"忘記密碼 - 發送驗證碼到郵箱","operationId":"forgotPassword","parameters":[{"name":"email","in":"query","description":"用戶郵箱","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/auth/email-verification/verify":{"post":{"tags":["auth"],"summary":"驗證郵件驗證碼","operationId":"verifyEmail","parameters":[{"name":"email","in":"query","description":"用戶郵箱","required":true,"schema":{"type":"string"}},{"name":"code","in":"query","description":"驗證碼","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/auth/email-verification/send":{"post":{"tags":["auth"],"summary":"發送郵件驗證碼","operationId":"sendEmailVerification","parameters":[{"name":"email","in":"query","description":"用戶郵箱","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/auth/email-verification/resend":{"post":{"tags":["auth"],"summary":"重發郵件驗證碼","operationId":"resendVerificationEmail","parameters":[{"name":"email","in":"query","description":"用戶郵箱","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/auth/email-login/verify":{"post":{"tags":["auth"],"summary":"使用郵箱驗證碼登入","description":"驗證郵箱驗證碼並完成登入","operationId":"loginWithEmailCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResult"}}}}}}},"/auth/email-login/send-code":{"post":{"tags":["auth"],"summary":"發送郵箱登入驗證碼","description":"向指定郵箱發送登入驗證碼","operationId":"sendEmailLoginCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailLoginSendCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailLoginSendCodeResponse"}}}}}}},"/auth/change-password":{"post":{"tags":["auth"],"summary":"修改/設置密碼","description":"如果用戶已有密碼，則需要提供舊密碼進行修改；如果用戶沒有密碼，則可以直接設置新密碼（舊密碼可選）","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordParam"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/auth/bind-oauth":{"post":{"tags":["auth"],"summary":"綁定OAuth賬號","description":"將OAuth賬號綁定到當前登錄的賬戶。支持以下登錄方式：\n\n**1. Google OAuth2：** ✅ 已實現\n- 推薦：使用tokenId（從 `/auth/oauth2/token/by-token-id` 獲取）\n- 或：使用code + state（需要state驗證）\n\n**2. Telegram Mini App：** ✅ 已實現\n- provider: TELEGRAM_BOT\n- 傳入initData（從Telegram Web App獲取）\n\n**3. Telegram Bot：** ✅ 已實現\n- provider: TELEGRAM_BOT\n- 傳入loginToken和verificationCode\n- 需要先在Telegram Bot中點擊登入連結獲取驗證碼\n\n**4. WalletConnect/Tron：** ✅ 已實現\n- provider: WALLET_CONNECT 或 TRON\n- 傳入walletAddress、signature和message\n- 需要先調用 `/auth/wallet-connect/nonce` 獲取nonce和簽名消息","operationId":"bindOAuth","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindOAuthParam"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/auth/bind-email":{"post":{"tags":["auth"],"summary":"綁定或更新郵箱","description":"為無郵箱的賬戶綁定郵箱，或為已有郵箱的賬戶更新郵箱。需要先調用 /auth/email-verification/send 發送驗證碼到新郵箱，然後使用驗證碼綁定或更新郵箱","operationId":"bindEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BindEmailParam"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/auth/2fa/verify":{"post":{"tags":["auth"],"summary":"驗證雙因素認證碼","description":"驗證2FA代碼是否正確","operationId":"verifyTwoFactorCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwoFactorVerifyParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}},"security":[{"bearerAuth":[]}]}},"/auth/2fa/manage":{"post":{"tags":["auth"],"summary":"管理雙因素認證","description":"統一管理2FA的啟用和禁用。action參數：enable=啟用，disable=禁用","operationId":"manageTwoFactor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwoFactorManageParam"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/posts/{id}/unlike":{"post":{"tags":["貼文管理"],"summary":"取消點讚","description":"用戶取消點讚貼文","operationId":"unlikePost","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/posts/{id}/share":{"post":{"tags":["貼文管理"],"summary":"分享貼文","description":"分享貼文（增加分享次數）","operationId":"sharePost","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/posts/{id}/publish":{"post":{"tags":["貼文管理"],"summary":"發布貼文","description":"用戶發布草稿貼文","operationId":"publishPost","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/posts/{id}/like":{"post":{"tags":["貼文管理"],"summary":"點讚貼文","description":"用戶點讚貼文","operationId":"likePost","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/posts/{id}/archive":{"post":{"tags":["貼文管理"],"summary":"下架貼文","description":"用戶下架已發布的貼文","operationId":"archivePost","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/logistics/postal/search":{"post":{"tags":["物流服務"],"summary":"郵遞區號模糊查詢","description":"根據關鍵字查詢郵遞區號、城市、行政區","operationId":"searchPostalAreas","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostalSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TaiwanPostalArea"}}}}}}}},"/api/logistics/calculate":{"post":{"tags":["物流服務"],"summary":"物流計算","description":"根據郵遞區號計算運費和運送天數，其他參數可選","operationId":"calculateLogistics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickLogisticsRequest"}}},"required":true},"responses":{"500":{"description":"伺服器內部錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuickLogisticsResult"}}}},"400":{"description":"請求參數錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuickLogisticsResult"}}}},"200":{"description":"計算成功","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuickLogisticsResult"}}}}}}},"/api/cart/check-stock":{"post":{"tags":["購物車管理"],"summary":"檢查庫存狀態","description":"檢查購物車中所有商品的庫存狀態","operationId":"checkCartItemStockStatus","responses":{"200":{"description":"OK"}}}},"/api/cart/admin/search":{"post":{"tags":["購物車管理"],"summary":"搜索購物車","description":"僅管理員可訪問，可選擇性按用戶ID篩選","operationId":"searchCarts","parameters":[{"name":"page","in":"query","description":"頁碼，從1開始","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","description":"每頁大小","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageCartItem"}}}}}}},"/api/cart/admin/add":{"post":{"tags":["購物車管理"],"summary":"管理員添加商品到購物車","description":"管理員將商品添加到指定用戶購物車","operationId":"adminAddToCart","parameters":[{"name":"userId","in":"query","description":"用戶ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartItemCreateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartItemResponse"}}}}}}},"/api/cart/add":{"post":{"tags":["購物車管理"],"summary":"添加商品到購物車","description":"將商品添加到用戶購物車","operationId":"addToCart","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartItemCreateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartItemResponse"}}}}}}},"/api/admin/posts/{id}/top":{"post":{"tags":["管理員貼文管理"],"summary":"設置置頂貼文","description":"管理員設置或取消置頂貼文","operationId":"setTop","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"isTop","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/admin/posts/{id}/featured":{"post":{"tags":["管理員貼文管理"],"summary":"設置精選貼文","description":"管理員設置或取消精選貼文","operationId":"setFeatured","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"isFeatured","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/stores/{storeId}/update":{"post":{"tags":["admin-stores"],"summary":"管理員更新商店信息","description":"管理員可以強制更新商店信息，包括強制修改商店狀態","operationId":"updateStoreByAdmin","parameters":[{"name":"storeId","in":"path","description":"商店ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminStoreUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponseDTO"}}}}}}},"/admin/stores/{storeId}/status":{"post":{"tags":["admin-stores"],"summary":"更新商店狀態","description":"管理員可以直接修改商店狀態（啟用/禁用等）","operationId":"updateStoreStatus","parameters":[{"name":"storeId","in":"path","description":"商店ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"isActive","in":"query","description":"新狀態","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponseDTO"}}}}}}},"/admin/stores/{storeId}/enable":{"post":{"tags":["admin-stores"],"summary":"啟用商店","description":"管理員可以重新啟用之前停用的商店","operationId":"enableStore","parameters":[{"name":"storeId","in":"path","description":"商店ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponseDTO"}}}}}}},"/admin/stores/{storeId}/disable":{"post":{"tags":["admin-stores"],"summary":"停用商店","description":"管理員可以停用指定的商店，停用後商店將無法正常運營","operationId":"disableStore","parameters":[{"name":"storeId","in":"path","description":"商店ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"reason","in":"query","description":"停用原因","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponseDTO"}}}}}}},"/admin/stores/search":{"post":{"tags":["admin-stores"],"summary":"搜索商店","description":"管理員可根據多個條件搜索商店","operationId":"searchStores_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminStoreSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageStoreResponseDTO"}}}}}}},"/admin/staking/interest-records":{"post":{"tags":["admin-staking"],"summary":"查詢收益發放記錄","description":"查詢質押收益發放記錄","operationId":"getInterestRecords","parameters":[{"name":"page","in":"query","description":"頁碼，從1開始","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","description":"每頁數量","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InterestRecordSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageInterestRecordDTO"}}}}}}},"/admin/products/{productId}/update":{"post":{"tags":["admin-products"],"summary":"更新商品","description":"管理員可以更新商品信息，包括強制修改商品狀態","operationId":"updateProductByAdmin","parameters":[{"name":"productId","in":"path","description":"商品ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Product"}}}}}}},"/admin/products/{productId}/status":{"post":{"tags":["admin-products"],"summary":"更新商品狀態","description":"管理員可以直接修改商品狀態（上架/下架/停售等）","operationId":"updateProductStatusEnum","parameters":[{"name":"productId","in":"path","description":"商品ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newStatus","in":"query","description":"新狀態","required":true,"schema":{"type":"string","description":"商品狀態","enum":["ON_SALE","OFF_SALE","PENDING_REVIEW","DELETED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Product"}}}}}}},"/admin/products/search":{"post":{"tags":["admin-products"],"summary":"搜索商品","description":"管理員可根據多個條件搜索商品","operationId":"searchProducts_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductSeachParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProduct"}}}}}}},"/admin/orders/{orderId}/cancel":{"post":{"tags":["admin-orders"],"summary":"取消訂單","description":"管理員可以強制取消訂單，並提供取消原因","operationId":"cancelOrderByAdmin","parameters":[{"name":"orderId","in":"path","description":"訂單ID","required":true,"schema":{"type":"string"}},{"name":"reason","in":"query","description":"取消原因","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/admin/orders/search":{"post":{"tags":["admin-orders"],"summary":"搜索訂單","description":"管理員可根據多個條件搜索訂單","operationId":"searchOrders","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageOrder"}}}}}}},"/admin/notifications":{"post":{"tags":["admin-notifications"],"summary":"創建通知","description":"管理員可創建新通知","operationId":"createNotification_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationCreateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationResponseDTO"}}}}}}},"/admin/notifications/search":{"post":{"tags":["admin-notifications"],"summary":"搜索通知","description":"管理員可根據條件搜索所有通知","operationId":"searchNotifications_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageNotificationResponseDTO"}}}}}}},"/admin/notifications/cleanup":{"post":{"tags":["admin-notifications"],"summary":"清理過期通知","description":"管理員可清理過期通知","operationId":"cleanupExpiredNotifications_1","parameters":[{"name":"daysToKeep","in":"query","description":"保留天數","required":false,"schema":{"type":"integer","format":"int32","default":30},"example":30}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/notifications/batch":{"post":{"tags":["admin-notifications"],"summary":"批量創建通知","description":"管理員可批量創建通知","operationId":"createBatchNotifications_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"批量創建參數","items":{"$ref":"#/components/schemas/NotificationCreateParam"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NotificationResponseDTO"}}}}}}}},"/admin/members/{memberId}/update":{"post":{"tags":["admin-members"],"summary":"更新會員信息","description":"管理員可以更新會員信息，包括強制修改會員狀態","operationId":"updateMemberByAdmin","parameters":[{"name":"memberId","in":"path","description":"會員ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberUpdateParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/admin/members/{memberId}/status":{"post":{"tags":["admin-members"],"summary":"更新會員狀態","description":"管理員可以直接修改會員狀態（啟用/禁用等）","operationId":"updateMemberStatus","parameters":[{"name":"memberId","in":"path","description":"會員ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"newStatus","in":"query","description":"新狀態","required":true,"schema":{"type":"string","description":"用戶狀態","enum":["ACTIVE","INACTIVE","SUSPENDED","BANNED","DELETED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/admin/members/{memberId}/reset-password":{"post":{"tags":["admin-members"],"summary":"管理員重設會員密碼","description":"管理員可以重設指定會員的密碼","operationId":"resetMemberPassword","parameters":[{"name":"memberId","in":"path","description":"會員ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminResetPasswordParam"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/admin/members/search":{"post":{"tags":["admin-members"],"summary":"搜索會員","description":"管理員可根據多個條件搜索會員，支持自定義排序","operationId":"searchMembers","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUser"}}}}}}},"/admin/members/create-user":{"post":{"tags":["admin-members"],"summary":"管理員創建用戶","operationId":"createUserByAdmin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminCreateUserParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserInfo"}}}}},"security":[{"bearerAuth":[]}]}},"/admin/disputes/{disputeId}/resolve":{"post":{"tags":["admin-disputes"],"summary":"處理糾紛","description":"管理員可以處理糾紛，包括退款、取消訂單等操作","operationId":"resolveDispute","parameters":[{"name":"disputeId","in":"path","description":"糾紛ID","required":true,"schema":{"type":"string"}},{"name":"resolution","in":"query","description":"處理結果","required":true,"schema":{"type":"string","description":"申訴狀態","enum":["PENDING","REVIEWING","COMPLETED","REJECTED"]}},{"name":"comment","in":"query","description":"處理說明","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/admin/disputes/search":{"post":{"tags":["admin-disputes"],"summary":"搜索糾紛","description":"管理員可根據多個條件搜索糾紛","operationId":"searchDisputes_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisputeSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDispute"}}}}}}},"/admin/delivery/orders/{orderId}/assign":{"post":{"tags":["admin-delivery"],"summary":"手動分配配送員","description":"管理員可以手動為訂單分配配送員","operationId":"assignDeliveryer","parameters":[{"name":"orderId","in":"path","description":"訂單ID","required":true,"schema":{"type":"string"}},{"name":"deliveryerId","in":"query","description":"配送員ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliveryDetail"}}}}}}},"/admin/delivery/orders/search":{"post":{"tags":["admin-delivery"],"summary":"搜索配送訂單","description":"管理員可根據多個條件搜索配送訂單","operationId":"searchDeliveryOrders","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryOrderSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeliveryDetail"}}}}}}}},"/admin/delivery/deliveryers/{deliveryerId}/status":{"post":{"tags":["admin-delivery"],"summary":"更新配送員狀態","description":"管理員可以直接修改配送員的工作狀態（啟用/停用）","operationId":"updateDeliveryerStatus","parameters":[{"name":"deliveryerId","in":"path","description":"配送員ID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"enabled","in":"query","description":"是否啟用","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Deliveryer"}}}}}}},"/admin/delivery/deliveryers/search":{"post":{"tags":["admin-delivery"],"summary":"搜索配送員","description":"管理員可根據多個條件搜索配送員，包括位置、狀態等","operationId":"searchDeliveryers","parameters":[{"name":"page","in":"query","description":"頁碼，從1開始","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","description":"每頁數量","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryerSearchParam"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDeliveryer"}}}}}}},"/admin/auto-reply/stats/reset":{"post":{"tags":["auto-reply"],"summary":"重置統計","description":"重置所有配置的命中次數統計","operationId":"resetStats","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AutoReplyResetStatsResponse"}}}}}}},"/admin/auto-reply/configs":{"post":{"tags":["auto-reply"],"summary":"創建新配置","description":"創建新的自動回復配置","operationId":"createConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoReplyConfig"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AutoReplyConfig"}}}}}}},"/admin/auto-reply/configs/search":{"post":{"tags":["auto-reply"],"summary":"搜尋自動回復配置","description":"根據條件搜尋自動回復配置","operationId":"searchConfigs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutoReplyConfigSearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageAutoReplyConfig"}}}}}}},"/withdraws/{withdrawId}":{"get":{"tags":["提款管理"],"summary":"查詢提款記錄","operationId":"getWithdraw","parameters":[{"name":"withdrawId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Withdraw"}}}}}}},"/withdraws/ongoing":{"get":{"tags":["提款管理"],"summary":"查詢當前用戶最新一筆進行中的提現","operationId":"getLatestOngoingWithdraw","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Withdraw"}}}}}}},"/withdraws/history":{"get":{"tags":["提款管理"],"summary":"查詢提款歷史","operationId":"getWithdrawHistory","parameters":[{"name":"page","in":"query","description":"頁碼，從1開始","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","description":"每頁數量","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageWithdraw"}}}}}}},"/webpush/vapid-public-key":{"get":{"tags":["webpush"],"summary":"獲取 VAPID 公鑰","description":"獲取用於前端註冊推送訂閱的 VAPID 公鑰","operationId":"getVapidPublicKey","responses":{"500":{"description":"服務器錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VapidPublicKeyResponseDTO"}}}},"200":{"description":"成功獲取 VAPID 公鑰","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VapidPublicKeyResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/webpush/subscriptions":{"get":{"tags":["webpush"],"summary":"獲取用戶推送訂閱列表","description":"獲取當前用戶的所有推送訂閱","operationId":"getUserSubscriptions","responses":{"200":{"description":"成功獲取訂閱列表","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PushSubscription"}}}}},"500":{"description":"服務器錯誤","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PushSubscription"}}}}}},"security":[{"bearerAuth":[]}]}},"/webpush/statistics":{"get":{"tags":["webpush"],"summary":"獲取推送統計信息","description":"獲取推送服務的統計信息","operationId":"getStatistics","responses":{"200":{"description":"成功獲取統計信息","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushStatisticsResponseDTO"}}}},"500":{"description":"服務器錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushStatisticsResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/webpush/scheduled/status":{"get":{"tags":["webpush"],"summary":"獲取定時推送狀態","description":"獲取定時推送的配置和狀態信息","operationId":"getSchedulerStatus","responses":{"200":{"description":"成功獲取定時推送狀態","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SchedulerStatusResponseDTO"}}}},"500":{"description":"服務器錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SchedulerStatusResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/webpush/health":{"get":{"tags":["webpush"],"summary":"獲取服務健康狀態","description":"獲取 Web Push 服務的健康狀態","operationId":"getHealthStatus","responses":{"200":{"description":"成功獲取健康狀態","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushHealthResponseDTO"}}}},"500":{"description":"服務器錯誤","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushHealthResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/user-addresses/{addressId}":{"get":{"tags":["user-addresses"],"summary":"根據ID獲取地址詳情","operationId":"getAddressById","parameters":[{"name":"addressId","in":"path","description":"地址ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserAddress"}}}}}},"delete":{"tags":["user-addresses"],"summary":"刪除地址","operationId":"deleteAddress","parameters":[{"name":"addressId","in":"path","description":"地址ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/user-addresses/page":{"get":{"tags":["user-addresses"],"summary":"分頁獲取用戶地址","operationId":"getUserAddressesPage","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUserAddress"}}}}}}},"/user-addresses/list":{"get":{"tags":["user-addresses"],"summary":"獲取用戶所有地址","operationId":"getUserAddresses","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserAddress"}}}}}}}},"/user-addresses/default":{"get":{"tags":["user-addresses"],"summary":"獲取用戶預設地址","operationId":"getDefaultAddress","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserAddress"}}}}}}},"/user-addresses/count":{"get":{"tags":["user-addresses"],"summary":"獲取用戶地址數量","operationId":"getAddressCount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int64"}}}}}}},"/transactions/{id}":{"get":{"tags":["帳變管理"],"summary":"根據交易ID查詢交易記錄","operationId":"getTransactionById","parameters":[{"name":"id","in":"path","description":"交易ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}}}},"/test/jwt-config":{"get":{"tags":["test"],"operationId":"getJwtConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/stores/{sellerId}":{"get":{"tags":["stores"],"summary":"根據賣家ID獲取商店信息","operationId":"getStoreBySellerId","parameters":[{"name":"sellerId","in":"path","description":"賣家ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponseDTO"}}}}}}},"/stores/my-store":{"get":{"tags":["stores"],"summary":"獲取當前用戶的商店","operationId":"getMyStore","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponseDTO"}}}}}}},"/stores/analytics":{"get":{"tags":["stores"],"summary":"獲取商店分析數據","operationId":"getStoreAnalytics","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreAnalyticsDTO"}}}}}}},"/staking/active":{"get":{"tags":["staking"],"summary":"查詢正在進行中的質押","description":"獲取用戶當前正在進行中的質押記錄（質押中）","operationId":"getActiveStakings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Staking"}}}}}}}},"/sse/status":{"get":{"tags":["sse"],"summary":"獲取 SSE 連接狀態","description":"獲取當前 SSE 連接的統計信息（僅管理員可用）","operationId":"getConnectionStatus","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"security":[{"bearerAuth":[]}]}},"/sse/status/user/{userId}":{"get":{"tags":["sse"],"summary":"檢查用戶連接狀態","description":"檢查指定用戶是否處於連接狀態","operationId":"getUserConnectionStatus","parameters":[{"name":"userId","in":"path","description":"目標用戶ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"security":[{"bearerAuth":[]}]}},"/sse/connect/{clientId}":{"get":{"tags":["sse"],"summary":"建立 SSE 連接","description":"建立一個服務器發送事件(SSE)的連接，用於接收實時消息","operationId":"connect","parameters":[{"name":"clientId","in":"path","description":"客戶端ID","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"ClientId格式錯誤","content":{"text/event-stream":{"schema":{"type":"string"}}}},"200":{"description":"成功建立連接","content":{"text/event-stream":{}}},"401":{"description":"未授權或ClientId不屬於當前用戶","content":{"text/event-stream":{"schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}]}},"/reviews/{id}":{"get":{"tags":["reviews"],"summary":"根據ID獲取評價","operationId":"getReview","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Review"}}}}}},"delete":{"tags":["reviews"],"summary":"刪除評價","operationId":"deleteReview","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/reviews/user/{userId}/average-rating":{"get":{"tags":["reviews"],"summary":"獲取用戶的平均評分","operationId":"getUserAverageRating","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"number","format":"double"}}}}}}},"/reviews/statistics":{"get":{"tags":["reviews"],"summary":"獲取評價統計數據","operationId":"getReviewStatistics","parameters":[{"name":"userId","in":"query","description":"用戶ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"productId","in":"query","description":"商品ID","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewStatisticsDTO"}}}}}}},"/reviews/sent":{"get":{"tags":["reviews"],"summary":"獲取用戶發出的評價","operationId":"getSentReviews","parameters":[{"name":"userId","in":"query","description":"用戶ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"minRating","in":"query","description":"評分範圍最小值","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"maxRating","in":"query","description":"評分範圍最大值","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"isAnonymous","in":"query","description":"是否匿名評價","required":false,"schema":{"type":"boolean"}},{"name":"startDate","in":"query","description":"開始日期 (ISO-8601 格式)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","description":"結束日期 (ISO-8601 格式)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","description":"頁碼，從1開始","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","description":"每頁數量","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageReview"}}}}}}},"/reviews/received":{"get":{"tags":["reviews"],"summary":"獲取用戶收到的評價","operationId":"getReceivedReviews","parameters":[{"name":"userId","in":"query","description":"用戶ID","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"minRating","in":"query","description":"評分範圍最小值","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"maxRating","in":"query","description":"評分範圍最大值","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"isReplied","in":"query","description":"是否已回覆","required":false,"schema":{"type":"boolean"}},{"name":"startDate","in":"query","description":"開始日期 (ISO-8601 格式)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","description":"結束日期 (ISO-8601 格式)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","description":"頁碼，從1開始","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","description":"每頁數量","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageReview"}}}}}}},"/reviews/product/{productId}":{"get":{"tags":["reviews"],"summary":"獲取商品的評價","operationId":"getProductReviews","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"minRating","in":"query","description":"評分範圍最小值","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"maxRating","in":"query","description":"評分範圍最大值","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"isAnonymous","in":"query","description":"是否匿名評價","required":false,"schema":{"type":"boolean"}},{"name":"isReplied","in":"query","description":"是否已回覆","required":false,"schema":{"type":"boolean"}},{"name":"startDate","in":"query","description":"開始日期 (ISO-8601 格式)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","description":"結束日期 (ISO-8601 格式)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","description":"頁碼，從1開始","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","description":"每頁數量","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageReview"}}}}}}},"/reviews/product/{prod
[...]
