{
  "openapi": "3.1.0",
  "info": {
    "title": "Agora Market API",
    "description": "RESTful API documentation for Agora Market - A comprehensive e-commerce platform",
    "contact": {
      "name": "Purr Tech LLC",
      "email": "admin@PURRTECHLLC.COM"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://agoramarketapi.purrtechllc.com/api",
      "description": "Production API Server"
    }
  ],
  "tags": [
    {
      "name": "knowledge",
      "description": "管理員維護 AI 知識庫文件與待確認問題"
    },
    {
      "name": "wallet-connect",
      "description": "Web3 钱包登录 API（支持 WalletConnect 和 Tron）"
    },
    {
      "name": "cold-wallet",
      "description": "冷錢包管理 API"
    },
    {
      "name": "member-orders",
      "description": "會員訂單管理 API"
    },
    {
      "name": "demand-pool",
      "description": "Demand Pool buyer APIs"
    },
    {
      "name": "seller-product-board",
      "description": "Seller product board APIs"
    },
    {
      "name": "flutter-deployment",
      "description": "Flutter App 部署 API"
    },
    {
      "name": "admin-members",
      "description": "管理員會員管理 API"
    },
    {
      "name": "admin-system-config",
      "description": "管理員系統配置 API"
    },
    {
      "name": "storefront-home",
      "description": "Seller AI-customized storefront home APIs"
    },
    {
      "name": "管理員貼文管理",
      "description": "管理員管理貼文的API接口"
    },
    {
      "name": "Admin Slot",
      "description": "管理員 Slot API"
    },
    {
      "name": "Admin Traffic",
      "description": "管理員流量與註冊分析 API"
    },
    {
      "name": "staking",
      "description": "質押管理 API"
    },
    {
      "name": "購物車管理",
      "description": "購物車相關操作"
    },
    {
      "name": "reviews",
      "description": "評價管理 API"
    },
    {
      "name": "auto-reply",
      "description": "自動回復管理 API"
    },
    {
      "name": "admin-notifications",
      "description": "管理員通知管理 API"
    },
    {
      "name": "定時任務管理",
      "description": "手動觸發定時任務"
    },
    {
      "name": "users",
      "description": "用戶資料 API"
    },
    {
      "name": "admin-product-taxonomy",
      "description": "商品 AI 分類與 taxonomy 治理 API"
    },
    {
      "name": "Betting Markets",
      "description": "對賭市場管理 API"
    },
    {
      "name": "delivery",
      "description": "配送管理 API"
    },
    {
      "name": "admin-staking",
      "description": "管理員質押管理 API"
    },
    {
      "name": "oauth2-standard",
      "description": "OAuth2 标准流程 API"
    },
    {
      "name": "Betting",
      "description": "投注管理 API"
    },
    {
      "name": "pwa-logs",
      "description": "PWA 日誌管理 API（開發調試用）"
    },
    {
      "name": "Community Partner Admin",
      "description": "Telegram group owner partner configuration and revenue-share setup"
    },
    {
      "name": "logistics",
      "description": "物流計算、郵遞區號查詢等相關 API"
    },
    {
      "name": "webpush",
      "description": "Web Push 推送 API"
    },
    {
      "name": "auth-passkey",
      "description": "WebAuthn / Passkey authentication API"
    },
    {
      "name": "login-methods",
      "description": "登录方式 API"
    },
    {
      "name": "telegram-webapp-auth",
      "description": "Telegram WebApp initData 认证 API"
    },
    {
      "name": "TG 遊戲管理",
      "description": "Telegram 🎰 拉霸遊戲管理"
    },
    {
      "name": "member-notifications",
      "description": "會員通知管理 API"
    },
    {
      "name": "admin-demand-pool",
      "description": "Admin Demand Pool APIs"
    },
    {
      "name": "test",
      "description": "測試數據 API"
    },
    {
      "name": "stores",
      "description": "商店管理 API"
    },
    {
      "name": "admin-delivery",
      "description": "管理員配送管理 API"
    },
    {
      "name": "postal-area",
      "description": "提供台灣地區郵遞區號查詢的接口"
    },
    {
      "name": "public-stores",
      "description": "Public store display API"
    },
    {
      "name": "admin-products",
      "description": "管理員商品管理 API"
    },
    {
      "name": "sse",
      "description": "服務器發送事件 API"
    },
    {
      "name": "Telegram 群消息監聽管理",
      "description": "查詢群組監聽列表、活躍度、活躍用戶與最近消息"
    },
    {
      "name": "商品檢舉",
      "description": "使用者檢舉商品 & admin 處理檢舉"
    },
    {
      "name": "webrtc",
      "description": "WebRTC 信令 API"
    },
    {
      "name": "chat",
      "description": "聊天管理 API"
    },
    {
      "name": "admin-orders",
      "description": "管理員訂單管理 API"
    },
    {
      "name": "Actuator",
      "description": "Monitor and interact",
      "externalDocs": {
        "description": "Spring Boot Actuator Web API Documentation",
        "url": "https://docs.spring.io/spring-boot/docs/current/actuator-api/html/"
      }
    },
    {
      "name": "admin-product-board",
      "description": "Admin product board moderation APIs"
    },
    {
      "name": "pickup-stores",
      "description": "取貨商店門市管理 API"
    },
    {
      "name": "mcp-user-connector",
      "description": "ChatGPT user MCP connector setup and status APIs"
    },
    {
      "name": "member-disputes",
      "description": "會員糾紛管理 API"
    },
    {
      "name": "auth",
      "description": "用戶認證 API"
    },
    {
      "name": "admin-storefront-homes",
      "description": "Admin/OPS storefront home review APIs"
    },
    {
      "name": "product-board",
      "description": "Product board APIs"
    },
    {
      "name": "admin-stores",
      "description": "管理員商店管理 API"
    },
    {
      "name": "user-addresses",
      "description": "用戶地址管理 API"
    },
    {
      "name": "seven-eleven-stores",
      "description": "7-11 門市查詢 API"
    },
    {
      "name": "file-management",
      "description": "文件管理 API"
    },
    {
      "name": "products",
      "description": "商品管理 API"
    },
    {
      "name": "Slot",
      "description": "Slot 遊戲 API"
    },
    {
      "name": "admin-marketplace-ui",
      "description": "Admin marketplace UI placement APIs"
    },
    {
      "name": "sse-test",
      "description": "SSE推播測試 API"
    },
    {
      "name": "promo-codes",
      "description": "推廣碼管理 API"
    },
    {
      "name": "Community Partner",
      "description": "Current-user scoped Telegram group owner partner APIs"
    },
    {
      "name": "admin-exchange-rate-range",
      "description": "管理員匯率範圍管理 API"
    },
    {
      "name": "貼文管理",
      "description": "貼文相關的API接口"
    },
    {
      "name": "verification-code-login",
      "description": "驗證碼登入 API"
    },
    {
      "name": "client-logs",
      "description": "客戶端日誌管理 API"
    },
    {
      "name": "admin-disputes",
      "description": "管理員糾紛管理 API"
    },
    {
      "name": "seller-demand-pool",
      "description": "Seller Demand Pool APIs"
    }
  ],
  "paths": {
    "/tg-game/paytable/batch": {
      "put": {
        "tags": [
          "TG 遊戲管理"
        ],
        "summary": "批次更新賠付規則",
        "description": "批次更新特定遊戲和盤口的所有賠付規則（會替換現有所有規則）",
        "operationId": "batchUpdatePaytable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdatePaytableRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaytableWithRtpDTO"
                }
              }
            }
          }
        }
      }
    },
    "/tg-game/activity/{id}": {
      "put": {
        "tags": [
          "TG 遊戲管理"
        ],
        "summary": "更新活動",
        "description": "更新拉霸活動設定（只更新有傳入的欄位）",
        "operationId": "updateActivity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "活動 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateActivityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDTO"
                }
              }
            }
          }
        }
      }
    },
    "/stores/my-storefront-home/draft": {
      "put": {
        "tags": [
          "storefront-home"
        ],
        "summary": "Save current seller storefront home draft HTML",
        "operationId": "saveDraft",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorefrontHomeDraftRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontHomeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/promo-codes/my-promo-code": {
      "get": {
        "tags": [
          "promo-codes"
        ],
        "summary": "獲取我的推廣碼",
        "operationId": "getMyPromoCode",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PromoCode"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "promo-codes"
        ],
        "summary": "編輯我的推廣碼",
        "operationId": "updateMyPromoCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromoCodeParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PromoCode"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/posts": {
      "put": {
        "tags": [
          "貼文管理"
        ],
        "summary": "更新貼文",
        "description": "用戶更新自己的貼文",
        "operationId": "updatePost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostUpdateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePostResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "貼文管理"
        ],
        "summary": "創建貼文",
        "description": "用戶創建新貼文",
        "operationId": "createPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCreateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{notificationId}": {
      "get": {
        "tags": [
          "member-notifications"
        ],
        "summary": "獲取通知詳情",
        "description": "根據通知ID獲取通知詳情",
        "operationId": "getNotification",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "description": "通知ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponseDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "member-notifications"
        ],
        "summary": "更新通知",
        "description": "更新通知信息（僅管理員可用）",
        "operationId": "updateNotification",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "description": "通知ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationUpdateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponseDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "member-notifications"
        ],
        "summary": "刪除通知",
        "description": "刪除通知（僅管理員可用）",
        "operationId": "deleteNotification",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "description": "通知ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/markets/{id}/close": {
      "put": {
        "tags": [
          "Betting Markets"
        ],
        "summary": "關閉市場",
        "description": "關閉市場，停止接受新的投注（僅創建者或管理員）",
        "operationId": "closeMarket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/chat/sessions/{sessionId}/read": {
      "put": {
        "tags": [
          "chat"
        ],
        "summary": "標記會話為已讀",
        "description": "基於會話ID和消息ID將會話標記為已讀",
        "operationId": "markSessionRead",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "會話ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "query",
            "description": "消息ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/chat/sessions/{sessionId}/pin": {
      "put": {
        "tags": [
          "chat"
        ],
        "summary": "置頂/取消置頂會話",
        "description": "切換會話的置頂狀態",
        "operationId": "toggleSessionPin",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "會話ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSession"
                }
              }
            }
          }
        }
      }
    },
    "/chat/messages/{messageId}": {
      "put": {
        "tags": [
          "chat"
        ],
        "summary": "編輯消息",
        "description": "編輯指定的聊天消息",
        "operationId": "updateMessage",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "消息ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatMessageUpdateDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChatMessage"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "chat"
        ],
        "summary": "刪除消息",
        "description": "物理刪除指定的聊天消息，雙方都可以互相刪除對方的消息",
        "operationId": "deleteMessage",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "消息ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/cart/{cartItemId}": {
      "put": {
        "tags": [
          "購物車管理"
        ],
        "summary": "更新購物車項目",
        "description": "更新購物車中商品的數量",
        "operationId": "updateCartItem",
        "parameters": [
          {
            "name": "cartItemId",
            "in": "path",
            "description": "購物車項目ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartItemUpdateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CartItemResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "購物車管理"
        ],
        "summary": "從購物車移除商品",
        "description": "從購物車中移除指定商品",
        "operationId": "removeFromCart",
        "parameters": [
          {
            "name": "cartItemId",
            "in": "path",
            "description": "購物車項目ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/cart/admin/{cartItemId}": {
      "put": {
        "tags": [
          "購物車管理"
        ],
        "summary": "管理員更新購物車項目",
        "description": "管理員更新指定用戶購物車中商品的數量",
        "operationId": "adminUpdateCartItem",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "用戶ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cartItemId",
            "in": "path",
            "description": "購物車項目ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartItemUpdateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CartItemResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "購物車管理"
        ],
        "summary": "管理員從購物車移除商品",
        "description": "管理員從指定用戶購物車中移除商品",
        "operationId": "adminRemoveFromCart",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "用戶ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "cartItemId",
            "in": "path",
            "description": "購物車項目ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/system-config/maintenance/seller": {
      "put": {
        "tags": [
          "admin-system-config"
        ],
        "summary": "設置賣家入口維護開關",
        "description": "開啟或關閉賣家入口維護模式",
        "operationId": "setSellerMaintenance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaintenanceToggleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/system-config/maintenance/delivery": {
      "put": {
        "tags": [
          "admin-system-config"
        ],
        "summary": "設置外送員入口維護開關",
        "description": "開啟或關閉外送員入口維護模式",
        "operationId": "setDeliveryMaintenance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaintenanceToggleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MaintenanceStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/staking/config": {
      "get": {
        "tags": [
          "admin-staking"
        ],
        "summary": "獲取質押配置",
        "description": "獲取當前有效的質押配置信息",
        "operationId": "getConfig",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StakingConfigDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-staking"
        ],
        "summary": "更新質押配置",
        "description": "更新質押利率和最低質押金額配置",
        "operationId": "updateStakingConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StakingConfigUpdateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StakingConfigDTO"
                }
              }
            }
          }
        }
      }
    },
    "/admin/notifications/{notificationId}": {
      "get": {
        "tags": [
          "admin-notifications"
        ],
        "summary": "獲取通知詳情",
        "description": "管理員可查看任何通知的詳情",
        "operationId": "getNotification_1",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "description": "通知ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponseDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-notifications"
        ],
        "summary": "更新通知",
        "description": "管理員可更新通知信息",
        "operationId": "updateNotification_1",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "description": "通知ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationUpdateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationResponseDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-notifications"
        ],
        "summary": "刪除通知",
        "description": "管理員可刪除通知",
        "operationId": "deleteNotification_1",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "description": "通知ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/marketplace-ui/product-list-carousel": {
      "get": {
        "tags": [
          "admin-marketplace-ui"
        ],
        "summary": "Get product-list activity banner admin configuration",
        "operationId": "getProductListCarousel",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceUiProductListCarouselAdminResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-marketplace-ui"
        ],
        "summary": "Replace product-list activity banner admin configuration",
        "operationId": "replaceProductListCarousel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarketplaceUiProductListCarouselAdminRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceUiProductListCarouselAdminResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/marketplace-ui/product-list-carousel/items": {
      "put": {
        "tags": [
          "admin-marketplace-ui"
        ],
        "summary": "Upsert one product-list activity banner item without disabling other items",
        "operationId": "upsertProductListCarouselItem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarketplaceUiPlacementAdminRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceUiProductListCarouselAdminResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/delivery/deliveryers/{deliveryerId}": {
      "get": {
        "tags": [
          "admin-delivery"
        ],
        "summary": "查看配送員詳情",
        "description": "管理員可查看配送員的詳細信息",
        "operationId": "getDeliveryerDetail",
        "parameters": [
          {
            "name": "deliveryerId",
            "in": "path",
            "description": "配送員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Deliveryer"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-delivery"
        ],
        "summary": "管理員編輯配送員資料",
        "description": "管理員可修改配送員顯示名稱、配送區域與啟用狀態",
        "operationId": "updateDeliveryer",
        "parameters": [
          {
            "name": "deliveryerId",
            "in": "path",
            "description": "配送員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryerUpdateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Deliveryer"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-delivery"
        ],
        "summary": "管理員撤銷配送員身份",
        "description": "保留歷史資料並停用配送員，不硬刪 deliveryers row",
        "operationId": "revokeDeliveryer",
        "parameters": [
          {
            "name": "deliveryerId",
            "in": "path",
            "description": "配送員ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Deliveryer"
                }
              }
            }
          }
        }
      }
    },
    "/admin/auto-reply/configs/{id}": {
      "put": {
        "tags": [
          "auto-reply"
        ],
        "summary": "更新配置",
        "description": "更新指定的自動回復配置",
        "operationId": "updateReplyConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "配置ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoReplyConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AutoReplyConfig"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "auto-reply"
        ],
        "summary": "刪除配置",
        "description": "刪除指定的自動回復配置",
        "operationId": "deleteConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "配置ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AutoReplyDeleteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/auto-reply/configs/{id}/toggle": {
      "put": {
        "tags": [
          "auto-reply"
        ],
        "summary": "啟用/禁用配置",
        "description": "切換配置的啟用狀態",
        "operationId": "toggleConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "配置ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "enabled",
            "in": "query",
            "description": "是否啟用",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AutoReplyConfig"
                }
              }
            }
          }
        }
      }
    },
    "/withdraws": {
      "post": {
        "tags": [
          "提款管理"
        ],
        "summary": "發起提款",
        "operationId": "createWithdraw",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWithdrawParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Withdraw"
                }
              }
            }
          }
        }
      }
    },
    "/withdraws/{withdrawId}/reject": {
      "post": {
        "tags": [
          "提款管理"
        ],
        "summary": "Admin 拒絕提款申請（退款給用戶）",
        "operationId": "rejectWithdraw",
        "parameters": [
          {
            "name": "withdrawId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Withdraw"
                }
              }
            }
          }
        }
      }
    },
    "/withdraws/{withdrawId}/fail": {
      "post": {
        "tags": [
          "提款管理"
        ],
        "summary": "提款失敗",
        "operationId": "failWithdraw",
        "parameters": [
          {
            "name": "withdrawId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "remark",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Withdraw"
                }
              }
            }
          }
        }
      }
    },
    "/withdraws/{withdrawId}/complete": {
      "post": {
        "tags": [
          "提款管理"
        ],
        "summary": "完成提款",
        "operationId": "completeWithdraw",
        "parameters": [
          {
            "name": "withdrawId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "txHash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Withdraw"
                }
              }
            }
          }
        }
      }
    },
    "/withdraws/search": {
      "post": {
        "tags": [
          "提款管理"
        ],
        "summary": "管理員搜尋提款記錄",
        "operationId": "searchWithdraws",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawSearchParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageWithdraw"
                }
              }
            }
          }
        }
      }
    },
    "/webrtc/offer": {
      "post": {
        "tags": [
          "webrtc"
        ],
        "summary": "發送 WebRTC Offer",
        "description": "發送 WebRTC Offer 信令給指定用戶",
        "operationId": "sendOffer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebRTCOfferDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Offer 發送成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebRTCOfferResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebRTCResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "未授權",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebRTCResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "無權限發送信令",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebRTCResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/webrtc/ice-candidate": {
      "post": {
        "tags": [
          "webrtc"
        ],
        "summary": "發送 WebRTC ICE Candidate",
        "description": "發送 WebRTC ICE Candidate 信令給指定用戶",
        "operationId": "sendIceCandidate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebRTCIceCandidateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ICE Candidate 發送成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebRTCIceCandidateResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebRTCResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "未授權",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebRTCResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/webrtc/hangup": {
      "post": {
        "tags": [
          "webrtc"
        ],
        "summary": "掛斷 WebRTC 通話",
        "description": "掛斷通話並通過 SSE 通知對方",
        "operationId": "hangupCall",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebRTCHangupDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "通話掛斷成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebRTCHangupResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebRTCResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "未授權",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebRTCResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/webrtc/answer": {
      "post": {
        "tags": [
          "webrtc"
        ],
        "summary": "發送 WebRTC Answer",
        "description": "發送 WebRTC Answer 信令給指定用戶",
        "operationId": "sendAnswer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebRTCAnswerDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Answer 發送成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebRTCAnswerResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebRTCResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "未授權",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WebRTCResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/webpush/unsubscribe": {
      "post": {
        "tags": [
          "webpush"
        ],
        "summary": "取消推送訂閱",
        "description": "取消用戶的推送訂閱",
        "operationId": "unsubscribe",
        "parameters": [
          {
            "name": "endpoint",
            "in": "query",
            "description": "推送端點URL",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功取消推送訂閱",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushUnsubscriptionResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushUnsubscriptionResponseDTO"
                }
              }
            }
          },
          "500": {
            "description": "服務器錯誤",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushUnsubscriptionResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/webpush/test": {
      "post": {
        "tags": [
          "webpush"
        ],
        "summary": "發送測試通知",
        "description": "向當前用戶發送測試推送通知",
        "operationId": "sendTestNotification",
        "responses": {
          "200": {
            "description": "測試通知發送成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushTestResponseDTO"
                }
              }
            }
          },
          "500": {
            "description": "服務器錯誤",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushTestResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/webpush/subscribe": {
      "post": {
        "tags": [
          "webpush"
        ],
        "summary": "註冊推送訂閱",
        "description": "註冊用戶的推送訂閱信息",
        "operationId": "subscribe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushSubscriptionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功註冊推送訂閱",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushSubscriptionResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushSubscriptionResponseDTO"
                }
              }
            }
          },
          "500": {
            "description": "服務器錯誤",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushSubscriptionResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/webpush/send": {
      "post": {
        "tags": [
          "webpush"
        ],
        "summary": "發送自定義通知",
        "description": "向當前用戶發送自定義推送通知",
        "operationId": "sendNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushNotificationDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "通知發送成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushNotificationResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushNotificationResponseDTO"
                }
              }
            }
          },
          "500": {
            "description": "服務器錯誤",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushNotificationResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/webpush/scheduled/trigger": {
      "post": {
        "tags": [
          "webpush"
        ],
        "summary": "手動觸發定時推送",
        "description": "手動觸發一次定時推送通知",
        "operationId": "triggerScheduledPush",
        "responses": {
          "200": {
            "description": "定時推送觸發成功",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledPushResponseDTO"
                }
              }
            }
          },
          "500": {
            "description": "服務器錯誤",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledPushResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/users/me/track-referrer": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "記錄 Mini App / TG 群組來源歸因",
        "operationId": "trackReferrer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackReferrerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/users/me/pwa-signals": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "取得目前用戶的 PWA 行為信號摘要",
        "operationId": "getSummary",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PwaSignalSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "users"
        ],
        "summary": "上報 PWA 訪問與安裝事件觀測",
        "description": "保存登入用戶的 PWA 行為信號摘要；不表示目前絕對已安裝狀態。",
        "operationId": "reportSignal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PwaSignalReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PwaSignalSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/user-addresses/{addressId}/set-default": {
      "post": {
        "tags": [
          "user-addresses"
        ],
        "summary": "設置預設地址",
        "operationId": "setDefaultAddress",
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "description": "地址ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserAddress"
                }
              }
            }
          }
        }
      }
    },
    "/user-addresses/update": {
      "post": {
        "tags": [
          "user-addresses"
        ],
        "summary": "更新地址",
        "operationId": "updateAddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAddress"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserAddress"
                }
              }
            }
          }
        }
      }
    },
    "/user-addresses/create": {
      "post": {
        "tags": [
          "user-addresses"
        ],
        "summary": "創建地址",
        "operationId": "createAddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserAddress"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserAddress"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/list": {
      "get": {
        "tags": [
          "帳變管理"
        ],
        "summary": "查詢帳變歷史(GET 版)",
        "operationId": "getTransactionListGet",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageTransaction"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "帳變管理"
        ],
        "summary": "查詢帳變歷史",
        "operationId": "getTransactionList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionListParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/admin/search": {
      "post": {
        "tags": [
          "帳變管理"
        ],
        "summary": "管理員查看帳變記錄",
        "operationId": "getTransactionListByAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionSearchParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/admin/manual-adjust": {
      "post": {
        "tags": [
          "帳變管理"
        ],
        "summary": "管理員手動調帳",
        "operationId": "manualAdjustByAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManualAdjustBalanceParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          }
        }
      }
    },
    "/tg-games/{gameKey}/sessions": {
      "post": {
        "tags": [
          "tg-mini-app-game-session-controller"
        ],
        "operationId": "startSession",
        "parameters": [
          {
            "name": "gameKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameSessionStartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GameSessionStartResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tg-games/{gameKey}/sessions/{sessionId}/end": {
      "post": {
        "tags": [
          "tg-mini-app-game-session-controller"
        ],
        "operationId": "endSession",
        "parameters": [
          {
            "name": "gameKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GameSessionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tg-games/{gameKey}/launch/exchange": {
      "post": {
        "tags": [
          "tg-mini-app-game-session-controller"
        ],
        "operationId": "exchangeLaunch",
        "parameters": [
          {
            "name": "gameKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameLaunchExchangeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GameLaunchExchangeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tg-game/activity": {
      "post": {
        "tags": [
          "TG 遊戲管理"
        ],
        "summary": "建立活動",
        "description": "建立拉霸活動，groupId 可選，不傳則不限制群組",
        "operationId": "createActivity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateActivityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDTO"
                }
              }
            }
          }
        }
      }
    },
    "/tg-game/activity/search": {
      "post": {
        "tags": [
          "TG 遊戲管理"
        ],
        "summary": "查詢活動",
        "description": "多條件查詢活動，支援分頁",
        "operationId": "searchActivities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivitySearchParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageActivityDTO"
                }
              }
            }
          }
        }
      }
    },
    "/test/review": {
      "post": {
        "tags": [
          "test"
        ],
        "operationId": "generateReviewData",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/test/return-process": {
      "post": {
        "tags": [
          "test"
        ],
        "summary": "生成退貨流程測試數據",
        "description": "生成各種退貨情況的測試數據，包括不同退貨原因、賣家處理、物流流程等",
        "operationId": "generateReturnProcessTestData",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/test/recharge&withdraw": {
      "post": {
        "tags": [
          "test"
        ],
        "operationId": "generateRechargeAndWithdraw",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/test/platform": {
      "post": {
        "tags": [
          "test"
        ],
        "operationId": "generatePlatformDeliveryOrder",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/test/notification": {
      "post": {
        "tags": [
          "test"
        ],
        "summary": "生成通知測試數據",
        "description": "生成各種類型的通知測試數據，包括系統通知、訂單通知、配送通知等",
        "operationId": "generateNotificationTestData",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/test/logistics": {
      "post": {
        "tags": [
          "test"
        ],
        "operationId": "generateLogisticsOrder",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/test/generate-test-data": {
      "post": {
        "tags": [
          "test"
        ],
        "summary": "生成測試數據",
        "operationId": "generateTestData",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/test/delivery-accept-order": {
      "post": {
        "tags": [
          "test"
        ],
        "summary": "生成配送員接單測試數據",
        "description": "生成配送員接單相關的測試數據，包括待接單訂單、多個配送員等",
        "operationId": "generateDeliveryAcceptOrderTestData",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/test/auto-reply": {
      "post": {
        "tags": [
          "test"
        ],
        "summary": "生成自動回復測試數據",
        "description": "生成測試用戶與自動回復機器人的對話記錄和反饋數據",
        "operationId": "generateAutoReplyTestData",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/stores/update": {
      "post": {
        "tags": [
          "stores"
        ],
        "summary": "更新商店",
        "operationId": "updateStore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreUpdateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StoreResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/stores/shipping-config": {
      "get": {
        "tags": [
          "stores"
        ],
        "summary": "獲取商店物流設定",
        "operationId": "getShippingConfig",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StoreShippingConfigParam"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "stores"
        ],
        "summary": "更新商店物流設定",
        "operationId": "updateShippingConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreShippingConfigParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StoreResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/stores/return-policy": {
      "post": {
        "tags": [
          "stores"
        ],
        "summary": "更新賣家退換貨政策",
        "operationId": "updateReturnPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreReturnPolicyDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StoreReturnPolicyDto"
                }
              }
            }
          }
        }
      }
    },
    "/stores/products/search": {
      "post": {
        "tags": [
          "stores"
        ],
        "summary": "搜索我的商店商品",
        "operationId": "searchMyStoreProducts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreProductSearchParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageProduct"
                }
              }
            }
          }
        }
      }
    },
    "/stores/my-storefront-home/validate": {
      "post": {
        "tags": [
          "storefront-home"
        ],
        "summary": "Validate current seller storefront home draft HTML",
        "operationId": "validateDraft",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorefrontHomeDraftRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontHomeValidationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stores/my-storefront-home/submit-review": {
      "post": {
        "tags": [
          "storefront-home"
        ],
        "summary": "Submit current seller storefront home draft for OPS review",
        "operationId": "submitReview",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontHomeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stores/my-storefront-home/disable": {
      "post": {
        "tags": [
          "storefront-home"
        ],
        "summary": "Disable current seller custom storefront home",
        "operationId": "disableMyHome",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontHomeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stores/create": {
      "post": {
        "tags": [
          "stores"
        ],
        "summary": "創建商店",
        "operationId": "createStore",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreCreateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StoreResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/staking/unfreeze": {
      "post": {
        "tags": [
          "staking"
        ],
        "summary": "申請解除質押",
        "description": "用戶申請解除指定質押記錄。解除質押不發放收益，只退回本金。",
        "operationId": "unfreezeStaking",
        "parameters": [
          {
            "name": "stakingId",
            "in": "query",
            "description": "質押ID（業務ID）",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Staking"
                }
              }
            }
          }
        }
      }
    },
    "/staking/search": {
      "post": {
        "tags": [
          "staking"
        ],
        "summary": "管理員搜尋質押記錄",
        "operationId": "searchStakings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StakingSearchParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageStaking"
                }
              }
            }
          }
        }
      }
    },
    "/staking/apply": {
      "post": {
        "tags": [
          "staking"
        ],
        "summary": "申請質押（活期）",
        "description": "用戶申請活期質押指定金額的資產，每天自動結算發放收益，可隨時解除質押。一次只能發起一筆質押。",
        "operationId": "applyStaking",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyStakingParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Staking"
                }
              }
            }
          }
        }
      }
    },
    "/sse/send/user/{userId}": {
      "post": {
        "tags": [
          "sse"
        ],
        "summary": "向特定用戶發送消息",
        "description": "向指定的用戶發送一條消息",
        "operationId": "sendMessageToUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "目標用戶ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "消息內容"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sse/force-disconnect-all": {
      "post": {
        "tags": [
          "sse"
        ],
        "summary": "強制斷開所有連接",
        "description": "緊急情況下強制斷開所有 SSE 連接（僅管理員可用）",
        "operationId": "forceDisconnectAll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sse/broadcast": {
      "post": {
        "tags": [
          "sse"
        ],
        "summary": "廣播消息",
        "description": "向所有連接的客戶端廣播一條消息（僅管理員可用）",
        "operationId": "broadcastMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "廣播消息內容"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sse-test/typing-event": {
      "post": {
        "tags": [
          "sse-test"
        ],
        "summary": "測試輸入事件",
        "description": "發送測試的用戶輸入事件",
        "operationId": "testTypingEvent",
        "requestBody": {
          "description": "SSE事件請求",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SSEEventRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SSEEventResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sse-test/system-event": {
      "post": {
        "tags": [
          "sse-test"
        ],
        "summary": "測試系統事件",
        "description": "發送測試的系統事件",
        "operationId": "testSystemEvent",
        "requestBody": {
          "description": "SSE事件請求",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SSEEventRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SSEEventResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sse-test/order-event": {
      "post": {
        "tags": [
          "sse-test"
        ],
        "summary": "測試訂單事件",
        "description": "發送測試的訂單事件",
        "operationId": "testOrderEvent",
        "requestBody": {
          "description": "SSE事件請求",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SSEEventRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SSEEventResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sse-test/custom-event": {
      "post": {
        "tags": [
          "sse-test"
        ],
        "summary": "測試自定義事件",
        "description": "發送任意 NotifyEventTypeEnum 事件",
        "operationId": "testCustomEvent",
        "requestBody": {
          "description": "SSE事件請求",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SSEEventRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SSEEventResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sse-test/balance-change": {
      "post": {
        "tags": [
          "sse-test"
        ],
        "summary": "測試餘額變動事件",
        "description": "發送測試的餘額變動事件",
        "operationId": "testBalanceChange",
        "requestBody": {
          "description": "SSE事件請求",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SSEEventRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SSEEventResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sse-test/auth-event": {
      "post": {
        "tags": [
          "sse-test"
        ],
        "summary": "測試認證事件",
        "description": "發送測試的認證事件",
        "operationId": "testAuthEvent",
        "requestBody": {
          "description": "SSE事件請求",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SSEEventRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SSEEventResponse"
                }
              }
            }
          }
        }
      }
    },
    "/slot/spin": {
      "post": {
        "tags": [
          "Slot"
        ],
        "summary": "Spin",
        "description": "執行一次 Slot Spin，支援 REAL 與 DEMO 模式",
        "operationId": "spin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlotSpinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SlotSpinResponse"
                }
              }
            }
          }
        }
      }
    },
    "/slot/paytable/{gameId}": {
      "get": {
        "tags": [
          "Slot"
        ],
        "summary": "查詢 Slot 賠率",
        "description": "查詢指定遊戲的賠率設定（需 ROLE_ADMIN）",
        "operationId": "getPaytable",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "description": "遊戲 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "moon_dance"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SlotPaytableConfigResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Slot"
        ],
        "summary": "設定 Slot 賠率",
        "description": "新增或覆蓋指定遊戲的完整賠率設定，所有倍率欄位皆必填（需 ROLE_ADMIN）",
        "operationId": "savePaytable",
        "parameters": [
          {
            "name": "gameId",
            "in": "path",
            "description": "遊戲 ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "moon_dance"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlotPaytableConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SlotPaytableConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/seller/product-board/posts/{postId}/unpin": {
      "post": {
        "tags": [
          "seller-product-board"
        ],
        "summary": "Unpin a product board post for seller-owned product",
        "operationId": "unpin",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProductBoardPostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/seller/product-board/posts/{postId}/pin": {
      "post": {
        "tags": [
          "seller-product-board"
        ],
        "summary": "Pin a product board post for seller-owned product",
        "operationId": "pin",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProductBoardPostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/seller/demands/{demandId}/offers": {
      "post": {
        "tags": [
          "seller-demand-pool"
        ],
        "summary": "Seller submit structured offer for demand",
        "operationId": "submitOffer",
        "parameters": [
          {
            "name": "demandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DemandOfferCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DemandOfferResponse"
                }
              }
            }
          }
        }
      }
    },
    "/seller/demands/{demandId}/offers/{offerId}/revision": {
      "post": {
        "tags": [
          "seller-demand-pool"
        ],
        "summary": "Seller revise an offer after buyer missing requirement",
        "operationId": "reviseOffer",
        "parameters": [
          {
            "name": "demandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DemandOfferCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DemandOfferResponse"
                }
              }
            }
          }
        }
      }
    },
    "/seller/demands/open/search": {
      "post": {
        "tags": [
          "seller-demand-pool"
        ],
        "summary": "Seller search open demand pool",
        "operationId": "searchOpen",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DemandSearchParam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageDemandDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/seller/creator-contents": {
      "get": {
        "tags": [
          "seller-creator-content-controller"
        ],
        "operationId": "listMine",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CreatorContentResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "seller-creator-content-controller"
        ],
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorContentUpsertRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorContentResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/seller/creator-contents/{contentId}": {
      "post": {
        "tags": [
          "seller-creator-content-controller"
        ],
        "operationId": "update",
        "parameters": [
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorContentUpsertRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorContentResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/seller/creator-contents/{contentId}/publish": {
      "post": {
        "tags": [
          "seller-creator-content-controller"
        ],
        "operationId": "publish",
        "parameters": [
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorContentResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/seller/creator-contents/{contentId}/archive": {
      "post": {
        "tags": [
          "seller-creator-content-controller"
        ],
        "operationId": "archive",
        "parameters": [
          {
            "name": "contentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorContentResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/reviews/update": {
      "post": {
        "tags": [
          "reviews"
        ],
        "summary": "更新評價",
        "operationId": "updateReview",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewUpdateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Review"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/search": {
      "post": {
        "tags": [
          "reviews"
        ],
        "summary": "搜索評價",
        "operationId": "searchReviews",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewSearchParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageReview"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/reply": {
      "post": {
        "tags": [
          "reviews"
        ],
        "summary": "回覆評價",
        "operationId": "replyToReview",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewReplyParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Review"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/create": {
      "post": {
        "tags": [
          "reviews"
        ],
        "summary": "創建評價",
        "operationId": "createReview",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewCreateParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Review"
                }
              }
            }
          }
        }
      }
    },
    "/reviews/batch-reply": {
      "post": {
        "tags": [
          "reviews"
        ],
        "summary": "批量回覆評價",
        "operationId": "batchReplyReviews",
        "parameters": [
          {
            "name": "reviewIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "replyContent",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/recharge": {
      "post": {
        "tags": [
          "充值管理"
        ],
        "summary": "創建充值",
        "operationId": "createRecharge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRechargeParam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RechargeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recharge/{rechargeId}/complete": {
      "post": {
        "tags": [
          "充值管理"
        ],
        "summary": "完成充值",
        "operationId": "completeRecharge",
        "parameters": [
          {
            "name": "rechargeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "txHash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
[...]
